
section.basic-type .inner-cont-wrap { padding:60px; font-size:13px; line-height:1.6; }
section.basic-type .page-title-wrap + .inner-cont-wrap {padding-top: 20px}
section.basic-type .pg-smcopy {padding-bottom: 0}
.special-offer .pg-title {display: inline-block; padding-right: 17px; margin-right: 18px; font-size: 20px!important; height: 44px; line-height: 44px; vertical-align: middle; border-right: 1px solid #000}
.special-offer .pg-smcopy {display: inline-block; height: 44px; line-height: 1.65!important; vertical-align: middle;}
.special-offer .pg-smcopy span {display: inline-block}
.special-offer .main-smcopy {font-weight: bold}

.special-offer .main-title-wrap h3{color:#000; font-size:55px; line-height:1.2;}
.special-offer .main-title-wrap h3 span{white-space: nowrap}
.special-offer .main-title-wrap h3 span:after {display: block; content: ''; height: 0;}
.special-offer .main-title-wrap p{padding-top:40px; color:#000; font-size:22px;}
.special-offer .main-title-wrap p span{font-family:'Nobel-Regular','SDGothicNeo1SB'}
.special-offer .arrow {margin-left: 120px; width:16px; height:10px; vertical-align:middle; background:url('/asset/images/quicksales/sprite_specialoffer.png'); display:inline-block; }

.special-offer .promotion .txt-holder .sub-tit{font-size:17px; color:#0d0d0d; line-height: 1.8;}
.special-offer .promotion .txt-holder .sub-tit em{font-style: normal}

.special-offer .promotion .program .subsec-title-wrap .inner-wrap { position:relative; height:171px; margin:60px 0 28px 0; }
.special-offer .promotion .program .subsec-title-wrap .inner-wrap .sec-tit-line { display:block; position:absolute; width:100%; height:6px; top:65px; background-color: #000; }
.special-offer .promotion .program .subsec-title-wrap .inner-wrap .sec-tit { position:absolute; left:-3px; margin-bottom:15px; }
.special-offer .promotion .program .subsec-title-wrap .inner-wrap .sec-smcopy { color:#666; font-size:13px; }

/* program-1 */
.special-offer .promotion .program-1 {position: relative}
.special-offer .promotion .program-1 .txt-holder .sub-tit {position: relative; padding-bottom: 82px; z-index: 2}
.special-offer .promotion .program-1 .txt-holder .sub-tit span:first-child + span:after {content: ''; display: block}
.special-offer .promotion .program-1 .txt-holder > img {position: absolute; top: 125px; right: 0}
.special-offer .promotion .program-1 .benefit-top{position: relative; width:100%;}
.special-offer .promotion .program-1 .benefit-top > li{position: relative; float: left; padding:0 40px 60px 0; box-sizing:border-box; width:25%; min-height:360px; min-width: 323px; text-align: left}
.special-offer .promotion .program-1 .benefit-top > li.benefit-top-4 {padding-right: 0; width: 285px; min-width: 285px}
.special-offer .promotion .program-1 .benefit-top > li .benefit-txt {max-width: 285px; text-align: left}
.special-offer .promotion .program-1 .benefit-top > li .benefit-txt h4 {font: 19px/1.47 'Nobel-Bold','SDGothicNeo1B'; color: #000; letter-spacing: 0}
.special-offer .promotion .program-1 .benefit-top > li .benefit-txt h4 span.highlight {display: block; color: #868484}
.special-offer .promotion .program-1 .benefit-top > li .benefit-txt p {margin-top: 12px; font: 13px/1.7 'SDGothicNeo1SB'}
.special-offer .promotion .program-1 .benefit-top > li.benefit-top-1 .benefit-txt p span.line-break:after {display: block; content: ''; height: 0}
.special-offer .promotion .program-1 .benefit-list {border-top:1px solid #999}
.special-offer .promotion .program-1 .benefit-list > li { position:relative; color:#000; font-family:'Nobel-Regular','SDGothicNeo1SB'; }
.special-offer .promotion .program-1 .benefit-list > li strong { /*font-weight:normal;*/ }
.special-offer .promotion .program-1 .benefit-list > li ul li a { color:#fff; text-decoration:none; display:inline-block; }
.special-offer .promotion .program-1 .benefit-list > li a { color:#fff; background:#333; display:inline-block; }
.special-offer .promotion .program-1 .benefit-list > li a i { color:#999; display:inline-block; }
.special-offer .promotion .program-1 .benefit-common dl { font-family:'Nobel-Regular','SDGothicNeo1SB'; }
.special-offer .promotion .program-1 .benefit-common dl dt { position:relative; color:#000; font-weight:bold; }
.special-offer .promotion .program-1 .benefit-common dl a { margin-bottom:10px; color:#999; display:block; }
.special-offer .promotion .program-1 .txt-desc { position:relative; color:#000; }
.special-offer .promotion .program-1 .txt-desc p { color:#000; font-family:'Nobel-Regular','SDGothicNeo1SB'; }

.special-offer .promotion .program-1 .benefit-list > li {padding: 54px 0 0 70px; box-sizing: border-box}
.special-offer .promotion .program-1 .benefit-list > li ul li:first-child b { font-size:15px; font-weight:bold; }
.special-offer .promotion .program-1 .benefit-list > li ul li:first-child span.line-break {display:block}

.special-offer .promotion .program-1 .benefit-list > li strong {font-size:18px; display:inline-block; }
.special-offer .promotion .program-1 .benefit-list > li strong span {font-size: 13px; color: #666}
.special-offer .promotion .program-1 .benefit-list > li .price-info{margin:40px 0 0; min-width: 300px}
.special-offer .promotion .program-1 .benefit-list > li .price-info p {float: left}
.special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left {position: relative; min-width: 191px; overflow: hidden}
.special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left:after {display: block; content: ''; position: absolute; top: 7px; right: 0; width: 1px; height: 100%; background: #ccc}
.special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left b {font: 44px/1 'Nobel-Bold'}
.special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-right {margin-left: 24px}
.special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-right b {font: 44px/1 'Nobel-Light'; color: #000}
.special-offer .promotion .program-1 .benefit-list > li .price-info p span {display: block; margin-top: 10px; font-size: 13px; color: #666}
.special-offer .promotion .program-1 .benefit-list > li ul li { /*width:50%;*/ margin-top: 12px; padding:0 10px 0 14px; display:block; }
.special-offer .promotion .program-1 .benefit-list > li ul li:first-child {margin-top: 0;}
.special-offer .promotion .program-1 .benefit-list > li ul li span.detail {display: block; font-size: 11px; color: #6a6c71; font-weight: normal}
.special-offer .promotion .program-1 .benefit-list > li ul li em.bul { margin:0 8px 0 -12px; width:4px; height:12px; background: url('/asset/images/quicksales/bul_dot.gif') no-repeat 0 6px; display:inline-block; }
.special-offer .promotion .program-1 .benefit-list > li p.explain {margin-top: 65px}
.special-offer .promotion .program-1 .benefit-list > li p.bg-car { position:absolute; right:0; top:137px;}
.special-offer .promotion .program-1 .benefit-list > li p.bg-car {width: 48%; max-width: 621px}
.special-offer .promotion .program-1 .benefit-list > li p.bg-car img {width: 100%;}
.special-offer .promotion .program-1 .benefit-list > li .btn-area a.btn-arr { margin:22px 0 63px; padding:0 20px; height:40px; font-size:12px; font-weight:normal; line-height:40px; }
.special-offer .promotion .program-1 .benefit-list > li .btn-area a.btn-testdrive { background-color:#0b2956;}
.special-offer .promotion .program-1 .benefit-list > li .btn-area a.btn-arr .arr { margin-left:20px; width:16px; height:10px; vertical-align:middle; background:url('/asset/images/service/lexus_service/sprite_service.png') left top no-repeat; display:inline-block; }
.special-offer .promotion .program-1 .benefit-common { margin:25px 0 60px 0; }
.special-offer .promotion .program-1 .benefit-common dl dt { font-size:12px; }
.special-offer .promotion .program-1 .benefit-common dl dd { color:#000; font-size:12px; }
.special-offer .promotion .program-1 .benefit-common dl dt + dd + dt {margin-top: 15px}
.special-offer .promotion .program-1 .benefit-common dl a { font-size:12px; }
.special-offer .promotion .program-1 .benefit-common dl a .arrow { margin:-2px 0 0 7px; background-position:0px -64px; }
.special-offer .promotion .program-1 .txt-desc { font-size:14px; }
.special-offer .promotion .program-1 .txt-desc a.btn-arr { position:relative; padding:0 0 0 20px; width:218px; height:48px; border:1px solid #000; color:#000; font-size:13px; text-align:left; line-height:50px;  }
.special-offer .promotion .program-1 .txt-desc a.btn-servicecenter { width:220px; text-align:left; }
.special-offer .promotion .program-1 .txt-desc a.btn-arr .arr { margin-left:139px; width:16px; height:10px; vertical-align:middle; background:url('/asset/images/service/lexus_service/sprite_service.png') right top no-repeat; display:inline-block; }

/* program-2 */
.special-offer .promotion .program .tbl {margin-top: 25px}
.special-offer .promotion .program .tbl.mob {display: none}
.special-offer .promotion .program .tbl.web {display: block}
.special-offer .promotion .program .tbl table {width: 100%}
.special-offer .promotion .program .tbl table thead tr { font-size: 13px; background: #e6e6e6}
.special-offer .promotion .program .tbl table thead th {text-align: left; color: #000}
.special-offer .promotion .program .tbl table th,
.special-offer .promotion .program .tbl table td {padding: 15px 0; font-size: 14px; border-bottom: 1px solid #e6e6e6}
.special-offer .promotion .program .tbl table tbody th {font-size: 14px; font-weight: bold; text-align: left; color: #000}
.special-offer .promotion .program .tbl table tbody td {color: #666}
.special-offer .promotion .program .tbl table tbody td.b-font {font-weight: bold; color:#000 }

/* program-3 */
.special-offer .promotion .program-3 .txt-holder .sub-tit strong span:first-child+span:after {display: block; content: ''; height: 0}
.special-offer .promotion .program-3 .txt-holder p+p{padding: 65px 0 20px 0; font: 14px/1.5 'SDGothicNeo1B'; color: #000}
.special-offer .promotion .program-3 .txt-holder .btn-area {padding-bottom: 8px}
.special-offer .promotion .program-3 .txt-holder a.btn-arr { position:relative; padding:0 0 0 20px; width:218px; height:48px; border:1px solid #000; color:#000; font-size:13px; text-align:left; line-height:50px;  }
.special-offer .promotion .program-3 .txt-holder a.btn-servicecenter { width:220px; text-align:left; }
.special-offer .promotion .program-3 .txt-holder a.btn-arr .arr { margin-left:139px; width:16px; height:10px; vertical-align:middle; background:url('/asset/images/service/lexus_service/sprite_service.png') right top no-repeat; display:inline-block; }


/* quick sales */
.special-offer .wrap-style-0 {margin: 0 60px; padding: 60px!important; box-sizing: border-box; border: 1px solid #e6e6e6}
.special-offer .wrap-style-0 .msg-cm-info {margin-top: 0}
.special-offer .wrap-style-0 .blk {color: #000}

/* finance */
.special-offer .finance {margin: 30px 60px 0; padding: 60px!important; box-sizing: border-box; border: 1px solid #e6e6e6}
.special-offer .diesel-tax .subsec-title-wrap,
.special-offer .finance .subsec-title-wrap { position:relative; font-family:'Nobel-Regular','SDGothicNeo1SB'; line-height:1; }
.special-offer .finance .subsec-title-wrap .inner-wrap {  margin-bottom:40px;  }
.special-offer .finance .subsec-title-wrap .inner-wrap .sec-tit { margin-bottom:18px; font-size:23px; }
.special-offer .finance .subsec-title-wrap .inner-wrap .sec-smcopy { font-size:13px; }
.special-offer .finance .subsec-title-wrap .sec-tit,
.special-offer .diesel-tax .subsec-title-wrap .sec-tit { color:#000; font-family:'Nobel-Regular','SDGothicNeo1SB'; font-weight:normal; line-height:1.2; }
.special-offer .finance .subsec-title-wrap .sec-smcopy { color:#666; }
.special-offer .finance .txt-holder .txt-desc {position:relative; color:#000; font-size:13px; }
.special-offer .finance .txt-holder .txt-desc p { margin-bottom:28px; font-family:'SDGothicNeo1SB'; line-height: 1.5}
.special-offer .finance .txt-holder .txt-desc a { position:relative; padding:0 0 0 20px; width:218px; height:48px; border:1px solid #000; color:#000; font-size:13px; text-align:left; line-height:50px; }
.special-offer .finance .txt-holder .txt-desc a .arrow { margin-left:120px; }

/* diesel-tax */
.special-offer .diesel-tax {margin: 30px 60px; padding: 60px!important; box-sizing: border-box; border: 1px solid #e6e6e6}
.special-offer .diesel-tax .subsec-title-wrap .inner-wrap .sec-tit { margin-bottom:18px; font-size:23px; }
.special-offer .diesel-tax .subsec-title-wrap .inner-wrap .sec-smcopy { font-size:13px; }
.special-offer .diesel-tax ul li {position: relative; margin-top: 10px; padding-left: 50px!important; box-sizing: border-box}
.special-offer .diesel-tax ul li:first-child {margin-top: 0}
.special-offer .diesel-tax ul li span {position: absolute; top: 0; left: 13px; color: #000}
.special-offer .diesel-tax .msg-cm-info {margin: 0}
.special-offer .diesel-tax .msg-cm-info li em.bul {position: absolute; top:5px; left: 13px}



@media only screen and (min-width: 1280px) and (max-width: 1570px){
    .special-offer .promotion .program-1 .benefit-top > li {float: left}
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-2 {position: absolute; top: 0; left: 50%; margin-left: -160px; padding-right: 0}
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-3 {float: right}
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-4 {clear: both; float: none}
}

@media only screen and (min-width:1281px) and (max-width:1400px) {
    .sales-quick .pic-list-wrap li { width:37.7%; }
    .sales-quick .pic-list-wrap li.col-3 { width:24.5%; }
}

@media only screen and (min-width:1025px) and (max-width:1280px){
    section.basic-type .page-title-wrap,
    section.basic-type.mdule-type-1 .page-title-wrap,
    section.basic-type.mdule-type-2 .page-title-wrap,
    section.basic-type.mdule-type-3 .page-title-wrap {padding: 40px 0 50px}
    .special-offer .promotion .program-1 .benefit-top > li {padding: 0 0 60px 0; width: 45%; float: left;}
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-2,
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-4 {width: 45%; min-width: 0; float: right;}
}

@media only screen and (min-width:768px) and (max-width:1280px) and (orientation:landscape) {
    .sales-quick .pic-list-wrap li { width:30.9%; margin-right:3.6%; padding-bottom:30px; margin-bottom:30px; }
    .sales-quick .pic-list-wrap li.col-2 { margin-right:3.6%; }
    .sales-quick .pic-list-wrap li.col-3 { width:30.9%;}
}

@media only screen and (min-width:768px) and (max-width:1280px) {
    .sales-quick .pic-list-wrap li { width:46%; margin-right:8%; padding-bottom:30px; margin-bottom:30px; }
    .sales-quick .pic-list-wrap li.col-2 { margin-right:0; }
    .sales-quick .pic-list-wrap li.col-3 { width:46%; }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    section.basic-type .page-title-wrap,
    section.basic-type.mdule-type-1 .page-title-wrap,
    section.basic-type.mdule-type-2 .page-title-wrap,
    section.basic-type.mdule-type-3 .page-title-wrap {padding: 40px 0 50px; margin: 0 30px!important;}
    section.basic-type .inner-cont-wrap {padding: 30px}
    section.basic-type .inner-cont-wrap,
    section.xpand-type.mdule-type-3 .inner-cont-wrap,
    section.xpand-type.mdule-type-4 .inner-cont-wrap {padding: 30px 30px 60px!important;}
    .special-offer .promotion .program-1 .benefit-top > li {padding: 0 0 60px 0; width: 45%; float: left;}
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-2,
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-4 {width: 45%; min-width: 0; float: right;}
    .special-offer .promotion .program-1 .benefit-list > li {padding: 60px 0 0; width: 45%; float: left}
    .special-offer .promotion .program-1 .benefit-list > li:first-child {margin-right: 10%}
    .special-offer .promotion .program-1 .benefit-list > li p.bg-car {position: static; margin-top: 20px; width: 100%; height: 130px; line-height: 130px;}
    .special-offer .promotion .program-1 .benefit-list > li p.bg-car img {vertical-align: bottom}
    .special-offer .wrap-style-0 {margin: 0 30px}
    .special-offer .finance {margin: 30px 30px 0}
    .special-offer .diesel-tax {margin: 30px}
}

@media only screen and (max-width:767px){
    section.basic-type {padding-bottom: 7.8125%}
    section.basic-type .page-title-wrap {margin: 0 7.8125%!important; padding: 7.8125% 0 2.7778%!important;}
    section.basic-type .pg-title {display: block; font-size: 18px; border-right: none}
    section.basic-type .pg-smcopy {font-size: 14px}
    section.basic-type .inner-cont-wrap {padding: 7.8125%!important;}
    .special-offer .main-title-wrap {padding-top: 8.14%; border-top: 6px solid #000}
    .special-offer .main-title-wrap h3 {font-size: 41px}
    .special-offer .main-title-wrap p {padding-top: 9.8125%; font-size: 19px}
    .special-offer .main-title-wrap p strong {display: block; line-height: 1.44}
    .special-offer .promotion .txt-holder .sub-tit {font-size: 18px; line-height: 1.6; letter-spacing: -0.3px}
    .special-offer .promotion .txt-holder .sub-tit span {display: block}

    .special-offer .promotion .program .subsec-title-wrap .inner-wrap {margin: 18.4% 0 11.29%; height: auto}
    .special-offer .promotion .program .subsec-title-wrap .inner-wrap .sec-tit {position: relative}
    .special-offer .promotion .program .subsec-title-wrap .inner-wrap .sec-tit img {display: block; width: 69.444%}
    .special-offer .promotion .program .subsec-title-wrap .inner-wrap .sec-tit-line {top: 50%; margin-top: -3px}
    .special-offer .promotion .program-1 .txt-holder .sub-tit {padding-bottom: 0}
    .special-offer .promotion .program-1 .txt-holder > img {display: none; position: static; margin-top: -33px; margin-left: 71.5%; width: 28.5% }
    .special-offer .promotion .program-1 .txt-holder .sub-tit strong span:first-child {display: block}
    .special-offer .promotion .program-1 .txt-holder .sub-tit strong span:first-child + span:after {display: none}
    .special-offer .promotion .program-1 .txt-holder .sub-tit strong span:first-child + span + span + span {display: block}
    .special-offer .promotion .program-1 .txt-holder .sub-tit strong span em {display: block}
    .special-offer .promotion .program-1 .benefit-top {margin-top: 18%}
    .special-offer .promotion .program-1 .benefit-top > li {padding: 0 0 14.259%; width: 100%; min-width: 0; min-height: 0; float: none;}
    .special-offer .promotion .program-1 .benefit-top > li.benefit-top-4 {width: 100%; min-width: 100px}
    .special-offer .promotion .program-1 .benefit-top > li img {position: absolute; top: 0; right: 0; width: 47.037%}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt {position: relative; z-index: 2}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt h4 {font-size: 18px}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt h4 span {display: block}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt p {font-size: 15px}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt p span {display: block}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt p span.line-break:after {display: none}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt p span.line-keep-mob,
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt p span.line-keep-mob + span {display: inline-block}
    .special-offer .promotion .program-1 .benefit-list {border-top: none}
    .special-offer .promotion .program-1 .benefit-list > li {margin-top: 16.666%; padding: 14.81% 0 0; border-top: 1px solid #000}
    .special-offer .promotion .program-1 .benefit-list > li:first-child {margin-top:0}
    .special-offer .promotion .program-1 .benefit-list > li strong {font-size: 19px}
    .special-offer .promotion .program-1 .benefit-list > li p.bg-car {position: static; margin-top: 9.62%; width: 100%; max-width: none}
    .special-offer .promotion .program-1 .benefit-list > li .price-info {margin-top: 8.7%; min-width: 0}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left {width: 204px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left b {font-size: 45px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-right {margin-left: 28px}
    .special-offer .promotion .program-1 .benefit-list > li p.explain {margin-top: 14.25%}
    .special-offer .promotion .program-1 .benefit-list > li .btn-area a.btn-arr {position:relative; margin: 7.037% 0 0; width: 49.5%; float: right; box-sizing: border-box; text-align: left}
    .special-offer .promotion .program-1 .benefit-list > li .btn-area a.btn-arr:first-child {float: left}
    .special-offer .promotion .program-1 .benefit-list > li .btn-area a.btn-arr .arr {position: absolute; top:50%; right:18px; margin-top: -5px}

    .special-offer .promotion .program .tbl {margin-top: 10.74%}
    .special-offer .promotion .program .tbl.web {display: none}
    .special-offer .promotion .program .tbl.mob {display: block}
    .special-offer .promotion .program .tbl table {margin-top: 5.55%}

    .special-offer .promotion .program-3 .txt-holder a.btn-servicecenter {width: 100%; box-sizing: border-box}
    .special-offer .arrow {position: absolute; top: 50%; right: 20px; margin-top: -5px}

    .special-offer .wrap-style-0 {margin: 7.8125% 7.8125% 0; padding: 7.8125%!important}
    .sales-quick .pic-list-wrap {padding-top: 7.8125%}
    .special-offer .finance {margin: 7.8125% 7.8125% 0; padding: 7.8125%!important}
    .special-offer .finance .txt-holder .txt-desc a {width: 100%; box-sizing: border-box}

    .special-offer .diesel-tax {margin: 7.8125% 7.8125% 0; padding:  7.8125%!important}
    .special-offer .diesel-tax ul li {position: relative; margin-top: 10px; padding-left: 37px!important; box-sizing: border-box}
    .special-offer .diesel-tax ul li:first-child {margin-top: 0}
    .special-offer .diesel-tax ul li span {position: absolute; top: 0; left: 0;}

}

@media only screen and (max-width:389px) {
    .special-offer .promotion .program-1 .txt-holder > img {margin-top: -15px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left {width: 167px; min-width: 100px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left b {font-size: 36px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-right b {font-size: 36px}
}

@media only screen and (max-width:359px){
    .special-offer .main-title-wrap h3 {font-size: 38px}
    .special-offer .main-title-wrap p {font-size: 17px}
    .special-offer .promotion .txt-holder .sub-tit {font-size: 16px}
    .special-offer .promotion .program-1 .txt-holder .sub-tit {font-size: 15px}
    .special-offer .promotion .program-1 .txt-holder > img {margin-top: -15px}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt h4 {font-size: 16px}
    .special-offer .promotion .program-1 .benefit-top > li .benefit-txt p {font-size: 14px}
    .special-offer .promotion .program-1 .benefit-list > li strong {font-size: 17px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left {width: 167px; min-width: 100px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-left b {font-size: 36px}
    .special-offer .promotion .program-1 .benefit-list > li .price-info p.flush-right b {font-size: 36px}
    .special-offer .promotion .program-1 .benefit-list > li p.explain {font-size: 12px}
    .special-offer .promotion .program .tbl table th,
    .special-offer .promotion .program .tbl table td {font-size: 13px}
    .special-offer .promotion .program .tbl table tbody th {font-size: 13px}
    .special-offer .promotion .program-3 .txt-holder p+p {font-size: 13px}
    .special-offer .finance .subsec-title-wrap .inner-wrap .sec-tit {font-size: 21px}
    .special-offer .diesel-tax .subsec-title-wrap .inner-wrap .sec-tit {font-size: 21px}
}