@import "common.css";
#st_begin {
  margin-left: 180px;
  border: 1px #F00 solid;
  position: relative;
  height: 100%;
}
#st_begin .st_begining {
  background-image: url(../images/LEXUSSTORY/THEBEGINING/bg_s0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
#st_begin .st_begining .begin_content {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -358.5px;
  margin-top: -90px;
  text-align: right;
}
#st_begin .st_begining .begin_content > img {
  position: absolute;
  top: 300px;
  right: 20px;
}
#st_begin .birth_begining {
  background-color: #1e1e1e;
}
#st_begin .birth_begining > ul {
  width: 717px;
  margin: 0 auto;
  text-align: right;
  overflow: hidden;
}
#st_begin .birth_begining > ul li {
  margin: 20% 0;
}
#st_begin .birth_begining > ul > li:first-child {
  position: relative;
}
#st_begin .birth_begining > ul > li:first-child > img:first-child {
  position: absolute;
  top: 0;
  left: 0;
}
#st_begin .birth_begining > ul > li > img:nth-child(2) {
  margin-top: 60px;
  margin-right: 10px;
}
