/* common */

.arr_dn {display:block; position:absolute; bottom:30px; left:50%; margin-left:-17px; width:34px; height:60px; z-index:100; background: url('/asset/images/model/common/arr_dn.png') 0 0 no-repeat; overflow:hidden; text-indent:-10000px;}
/* .arr_dn {display:block; position:absolute; bottom:30px; left:780px; z-index:100;} */
#model-pg2, #model-pg3, #model-pg5, #model-pg6 {background:#fff;}
/*#model-popup-youtube {width:100%; height:100%; top:0; left:0;border-top:0; border-bottom:0; background-color: #000;padding:0;}*/
.popup.utube-pop {width:100%; height:100%; top:0; left:0;border-top:0; border-bottom:0; background-color: #000;padding:0;}
.popup.utube-pop .close-pop{right:13px; top:32px; z-index:10;}
.popup.utube-pop .close-pop a, .popup.utube-pop .close-pop a span {opacity:0.5; filter:alpha(opacity=50)}
.popup.utube-pop .close-pop a:hover {opacity:1; filter:alpha(opacity=100)}
.models .key-visual {position:relative; background-color: #000;}
.models .key-visual .fixed-area {position:fixed; top:0; }
.models .key-visual .fig-txt {position:absolute; left:60px; top:90px;}      /* top:101px; */
.models .key-visual .fig-txt h3 {position:absolute; top:0; left:-10px;}
.models .key-visual .fig-txt strong {position:absolute; top:60px; left:-11px;}
.models .key-visual .fig-txt p {position:absolute; top:100px; left:-11px;}
.models .key-visual .fig-txt a {position:absolute; display:block;  /* background: url('/asset/images/model/common/btn_model_play.png') 0 0 no-repeat; overflow:hidden; text-indent:-10000px; */}
.models .contents-visual {overflow: hidden;background-color: #000;}
.models .visual-wrap .fig-content img {position:absolute;}
.models .visual-wrap .fig-content #standard{opacity: 0}
.models .visual-wrap .fig-content video {
    position: absolute; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto;
    /*background: url(polina.jpg) no-repeat;
    background-size: cover;*/
}   /* add 2014.09.23 d.h kim*/

/* Hybrid 모델페이지 타이틀 레이아웃 변경  DATE 2016.07.18 */
.models .key-visual .fig-txt.hybrid { top:30px; }
.models .key-visual .fig-txt.hybrid span { position:absolute; top:0; left:0; }
.models .key-visual .fig-txt.hybrid h3 { top:60px; }
.models .key-visual .fig-txt.hybrid strong { top:118px; }       /* top:128px; */
.models .key-visual .fig-txt.hybrid p { top:150px; }

/* 모바일 시승신청' 바로가기 버튼추가 add jyjoo */
.model-tab-navi-wrap { position:fixed; left:0; bottom:0; width:100%; z-index:9; }
.model-tab-navi-wrap button { display:none; }

/* LS - LS 460, LS 460L, LS 460 AWD, LS 600h */

/* .ls460 .key-visual .fig-txt p, .ls460 .key-visual .fig-txt strong {left:0px;} */

.ls460l .key-visual .fig-txt h3 {width:180px; height:59px;}
.ls460l .key-visual .fig-txt strong {width:334px; height:41px;}
.ls460l .key-visual .fig-txt p {width:312px; height:56px;}
.ls460l .content-1 .fig-txt h4 {position:absolute; top:110px; left:48px;}
.ls460l .content-1 .fig-txt p {position:absolute; top:226px; left:48px;}
.ls460l .content-2 .fig-txt h4 {position:absolute; top:110px; left:48px;}
.ls460l .content-2 .fig-txt p {position:absolute; top:226px; left:48px;}
.ls460l .content-3 .fig-txt h4 {position:absolute; top:340px; right:130px;}
.ls460l .content-3 .fig-txt p {position:absolute; top:456px; right:437px;}

.ls460awd .key-visual .fig-txt h3 {width:180px; height:59px;}
.ls460awd .key-visual .fig-txt strong {width:334px; height:41px;}
.ls460awd .key-visual .fig-txt p {width:312px; height:56px;}
.ls460awd .content-1 .fig-txt h4 {position:absolute; top:110px; left:48px;}
.ls460awd .content-1 .fig-txt p {position:absolute; top:226px; left:48px;}
.ls460awd .content-2 .fig-txt h4 {position:absolute; top:110px; left:48px;}
.ls460awd .content-2 .fig-txt p {position:absolute; top:226px; left:48px;}
.ls460awd .content-3 .fig-txt h4 {position:absolute; top:340px; right:130px;}
.ls460awd .content-3 .fig-txt p {position:absolute; top:456px; right:437px;}

.ls460 .key-visual .fig-txt h3 {width:180px; height:59px;}
.ls460 .key-visual .fig-txt strong {width:334px; height:41px;}
.ls460 .key-visual .fig-txt p {width:312px; height:56px;}
.ls460 .content-1 .fig-txt h4 {position:absolute; top:110px; left:48px;}
.ls460 .content-1 .fig-txt p {position:absolute; top:226px; left:48px;}
.ls460 .content-2 .fig-txt h4 {position:absolute; top:110px; left:48px;}
.ls460 .content-2 .fig-txt p {position:absolute; top:226px; left:48px;}
.ls460 .content-3 .fig-txt h4 {position:absolute; top:340px; right:130px;}
.ls460 .content-3 .fig-txt p {position:absolute; top:456px; right:441px;}

/* .ls600h .key-visual .fig-txt p, .ls600h .key-visual .fig-txt strong {left:0px;} */
.ls600h .key-visual .fig-txt h3 {width: 240px; height: 59px;}
.ls600h .key-visual .fig-txt strong {width: 334px; height: 41px;}
.ls600h .key-visual .fig-txt p {width: 312px; height: 56px;}
.ls600h .content-1 .fig-txt h4 {position:absolute; top:110px; right:79px;}
.ls600h .content-1 .fig-txt p {position:absolute; top:226px; right:442px;}/*450*/
.ls600h .content-2 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.ls600h .content-2 .fig-txt p {position:absolute; top:227px; left:50px;}
.ls600h .content-3 .fig-txt h4 {position:absolute; top:530px; right:113px;}
.ls600h .content-3 .fig-txt p {position:absolute; top:646px; right:412px;}

/* GS - GS F, GS 450h, GS 350, GS 200t	*/

.gsf .key-visual .fig-txt h3 { width:194px; height:25px; top:0; }
.gsf .key-visual .fig-txt strong { width:268px; height:100px; }
.gsf .key-visual .fig-txt p { width:390px; height:28px; }
.gsf .key-visual .fig-txt a.has-3-rows { top:154px; }
.gsf .content-1 .fig-txt h4 { position:absolute; top:110px; right:144px; }
.gsf .content-1 .fig-txt p { position:absolute; top:194px; right:336px; }
.gsf .content-2 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gsf .content-2 .fig-txt p { position:absolute; top:194px; left:50px; }
.gsf .content-4 .fig-txt h4 { position:absolute; top:340px; right:224px; }
.gsf .content-4 .fig-txt p { position:absolute; top:424px; right:408px; }

.gs450h .key-visual .fig-txt h3 { top:0; width:194px; height:25px; }
.gs450h .key-visual .fig-txt strong { width:268px; height:132px; top:25px; }
.gs450h .key-visual .fig-txt p { width:390px; height:28px; top:157px; }
.gs450h .key-visual .fig-txt a.has-3-rows { top:202px; left:0; }
.gs450h .content-1 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gs450h .content-1 .fig-txt p { position:absolute; top:230px; left:50px; }
.gs450h .content-2 .fig-txt h4 { position:absolute; top:530px; right:254px; }
.gs450h .content-2 .fig-txt p { position:absolute; top:613px; right:416px; }
.gs450h .content-3 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gs450h .content-3 .fig-txt p { position:absolute; top:194px; left:50px; }

.gs350 .key-visual .fig-txt h3 { top:0; width:194px; height:25px; }
.gs350 .key-visual .fig-txt strong { width:268px; height:132px; }
.gs350 .key-visual .fig-txt p { width:390px; height:28px; }
.gs350 .key-visual .fig-txt a.has-3-rows { top:154px; }
.gs350 .content-1 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gs350 .content-1 .fig-txt p { position:absolute; top:194px; left:50px; }
.gs350 .content-2 .fig-txt h4 { position:absolute; top:530px; right:185px; }
.gs350 .content-2 .fig-txt p { position:absolute; top:613px; right:416px; }
.gs350 .content-3 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gs350 .content-3 .fig-txt p { position:absolute; top:194px; left:50px; }

.gs200t .key-visual .fig-txt h3 { top:0; width:194px; height:25px; }
.gs200t .key-visual .fig-txt strong { width:268px; height:132px; }
.gs200t .key-visual .fig-txt p { width:390px; height:28px; }
.gs200t .key-visual .fig-txt a.has-3-rows { top:154px; }
.gs200t .content-1 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gs200t .content-1 .fig-txt p { position:absolute; top:230px; left:50px; }
.gs200t .content-2 .fig-txt h4 { position:absolute; top:110px; right:154px; }
.gs200t .content-2 .fig-txt p { position:absolute; top:194px; right:417px; }
.gs200t .content-3 .fig-txt h4 { position:absolute; top:110px; left:50px; }
.gs200t .content-3 .fig-txt p { position:absolute; top:194px; left:50px; }

/* ES - ES 300h, ES 350 */

/* .es300h .key-visual .fig-txt p, .es300h .key-visual .fig-txt strong {left:0px;} */
.es300h .key-visual .fig-txt h3 {width: 214px; height: 58px;}
.es300h .key-visual .fig-txt strong {width: 310px; height: 40px;}
.es300h .key-visual .fig-txt p {width: 266px; height: 79px;}
.es300h .key-visual .fig-txt a.btn-testdrive { top:202px; }     /* top:166px; */
.es300h .content-1 .fig-txt h4 {position:absolute; top:530px; left:109px;}
.es300h .content-1 .fig-txt p {position:absolute; top:642px; left:109px;}
.es300h .content-2 .fig-txt h4 {position:absolute; top:530px; right:165px;}
.es300h .content-2 .fig-txt p {position:absolute; top:644px; right:283px;}
.es300h .content-3 .fig-txt h4 {position:absolute; top:530px; left:107px;}
.es300h .content-3 .fig-txt p {position:absolute; top:648px; left:107px;}

/* .es350 .key-visual .fig-txt p, .es350 .key-visual .fig-txt strong {left:0px;} */
.es350 .key-visual .fig-txt h3 {width: 182px; height: 58px;}
.es350 .key-visual .fig-txt strong {width: 310px; height: 40px;}
.es350 .key-visual .fig-txt p {width: 274px; height: 79px;}
.es350 .key-visual .fig-txt a.btn-testdrive {top:166px; }
.es350 .content-1 .fig-txt h4 {position:absolute; top:530px; left:109px;}
.es350 .content-1 .fig-txt p {position:absolute; top:642px; left:109px;}
.es350 .content-2 .fig-txt h4 {position:absolute; top:110px; right:203px;}
.es350 .content-2 .fig-txt p {position:absolute; top:226px; right:296px;}
.es350 .content-3 .fig-txt h4 {position:absolute; top:530px; left:109px;}
.es350 .content-3 .fig-txt p {position:absolute; top:642px; left:109px;}
/* .es350 .content-4 .fig-txt h4 {position:absolute; top:110px; left:68px;}
.es350 .content-4 .fig-txt p {position:absolute; top:216px; left:68px;} */

/* IS - IS 250, IS F SPORT */

.is250 .key-visual .fig-txt h3 {width: 169px; height: 58px;}
.is250 .key-visual .fig-txt strong {width: 257px; height: 38px;}
.is250 .key-visual .fig-txt p {width: 258px; height: 56px;}
.is250 .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}
.is250 .key-visual .fig-txt a.btn-microsite{top:256px}
.is250 .content-1 .fig-txt h4 {position:absolute; top:340px; left:50%; margin-left:-244px;}
.is250 .content-1 .fig-txt p {position:absolute; top:422px; left:50%; margin-left:-142px; }
.is250 .content-3 .fig-txt h4 {position:absolute; top:340px; left:50%; margin-left:-164px;}
.is250 .content-3 .fig-txt p {position:absolute; top:426px; left:50%; margin-left:-99px;}
.is250 .content-4 .fig-txt h4 {position:absolute; top:110px; left:159px;}
.is250 .content-4 .fig-txt p {position:absolute; top:200px; left:160px;}

.isfsport .key-visual .fig-txt h3 {width: 382px; height: 58px;}
.isfsport .key-visual .fig-txt strong {width: 257px; height: 38px;}
.isfsport .key-visual .fig-txt p {width: 258px; height: 56px;}
.isfsport .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}
.isfsport .key-visual .fig-txt a.btn-microsite{top:256px}
.isfsport .content-1 .fig-txt h4 {position:absolute; top:110px; left:134px;}
.isfsport .content-1 .fig-txt p {position:absolute; top:210px; left:134px;}
.isfsport .content-3 .fig-txt h4 {position:absolute; top:340px; right:64px;}
.isfsport .content-3 .fig-txt p {position:absolute; top:434px; right:430px;}
.isfsport .content-4 .fig-txt h4 {position:absolute; top:110px; left:50%; margin-left:-261px; }
.isfsport .content-4 .fig-txt p {position:absolute; top:216px; left:50%; margin-left:-110px; }

/* added 1106 */
.is200t .key-visual .fig-txt{ top:90px }
.is200t .key-visual .fig-txt h3 {width: 430px; height: 58px;}
.is200t .key-visual .fig-txt strong {width: 227px; height: 40px; left:11px; top:70px}
.is200t .key-visual .fig-txt p {width: 387px; height: 56px; left:9px; top:110px}
.is200t .key-visual .fig-txt a.has-3-rows {top:166px; left:0; }
.is200t .key-visual p.date{position: fixed; bottom:95px; left:240px}
.is200t .key-visual p.date span{display:block;}
.is200t .content-1 .fig-txt h4 {position:absolute; top:344px; right:auto; left:60px}
.is200t .content-1 .fig-txt p {position:absolute; top:428px; right:auto; left:63px}
.is200t .content-2 .fig-txt h4 {position:absolute; top: 114px; left: auto; right:114px}
.is200t .content-2 .fig-txt p {position:absolute; top:201px; left:auto; right:372px}
.is200t .content-3 .fig-txt h4 {position:absolute; top:124px; left:60px;}
.is200t .content-3 .fig-txt p {position:absolute; top:208px; left:63px;}
.is200t .btn-microsite{position: absolute; display: block; top: 170px; left:20px}

/* added 1109 */
.rcf-new .key-visual .fig-txt{ top:90px }
.rcf-new .key-visual .fig-txt strong{ top:64px}
.rcf-new .key-visual .fig-txt p{top:102px}
.rcf-new .key-visual .fig-txt h3{left:-30px}
.rcf-new .content-1 .fig-txt h4{position:absolute; left:auto; right:122px; top:114px}
.rcf-new .content-1 .fig-txt p{position:absolute; top:229px; right:305px}
.rcf-new .content-2 .fig-txt h4{position:absolute; top:533px; left:112px}
.rcf-new .content-2 .fig-txt p{position:absolute; top:649px; left:112px}
.rcf-new .key-visual .fig-txt a.btn-microsite{display:none}
.rcf-new .content-3 .fig-txt h4{position:absolute; top:533px; left:auto; right:48px}
.rcf-new .content-3 .fig-txt p{position:absolute; top:675px; left:auto; right:270px}

/* added 2015.11.10 */
.rc200tfsport .key-visual .fig-txt{ top:90px }
.rc200tfsport .key-visual .fig-txt strong{ top:64px}
.rc200tfsport .key-visual .fig-txt p{top:102px}
.rc200tfsport .key-visual .fig-txt h3{left:-30px}
.rc200tfsport .key-visual .fig-txt a.btn-microsite{display:none}
.rc200tfsport .content-1 .fig-txt h4{position:absolute; left:auto; right:122px; top:114px}
.rc200tfsport .content-1 .fig-txt p{position:absolute; top:229px; right:305px}
.rc200tfsport .content-2 .fig-txt h4{position:absolute; top:533px; left:112px}
.rc200tfsport .content-2 .fig-txt p{position:absolute; top:649px; left:112px}
.rc200tfsport .content-3 .fig-txt h4{position:absolute; top:500px; left:auto; right:77px}
.rc200tfsport .content-3 .fig-txt p{position:absolute; top:674px; left:auto; right:278px}

.rc350fsport .key-visual .fig-txt{ top:90px }
.rc350fsport .key-visual .fig-txt strong{ top:64px}
.rc350fsport .key-visual .fig-txt p{top:102px}
.rc350fsport .key-visual .fig-txt h3{left:-30px}
.rc350fsport .key-visual .fig-txt a.btn-microsite{display:none}
.rc350fsport .content-1 .fig-txt h4{position:absolute; left:auto; right:122px; top:114px}
.rc350fsport .content-1 .fig-txt p{position:absolute; top:229px; right:305px}
.rc350fsport .content-2 .fig-txt h4{position:absolute; top:533px; left:112px}
.rc350fsport .content-2 .fig-txt p{position:absolute; top:649px; left:112px}
.rc350fsport .content-3 .fig-txt h4{position:absolute; top:533px; left:auto; right:48px}
.rc350fsport .content-3 .fig-txt p{position:absolute; top:637px; left:auto; right:215px}

/* added 2015.11.26 */
.is200tfsport .key-visual .fig-txt h3 {width: 382px; height: 58px;}
.is200tfsport .key-visual .fig-txt strong {width: 257px; height: 38px;}
.is200tfsport .key-visual .fig-txt p {width: 258px; height: 56px;}
.is200tfsport .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}
.is200tfsport .key-visual .fig-txt a.btn-microsite{top:256px}
.is200tfsport .content-1 .fig-txt h4 {position:absolute; top:110px; right:64px;}
.is200tfsport .content-1 .fig-txt p {position:absolute; top:192px; right:376px;}
.is200tfsport .content-2 .fig-txt h4 {position:absolute; top:110px; left:60px;}
.is200tfsport .content-2 .fig-txt p {position:absolute; top:192px; left:60px;}
.is200tfsport .content-3 .fig-txt h4 {position:absolute; top:340px; right:64px;}
.is200tfsport .content-3 .fig-txt p {position:absolute; top:458px; right:377px;}
.is200tfsport .content-4 .fig-txt h4 {position:absolute; top:110px; left:50%; margin-left:-261px; }
.is200tfsport .content-4 .fig-txt p {position:absolute; top:216px; left:50%; margin-left:-110px; }

/* RX - RX 450h, RX 350, RX 450h F SPORT, RX 350 F SPORT */

.rx450h .key-visual .fig-txt h3 {width: 218px; height: 58px;}
.rx450h .key-visual .fig-txt strong {width: 328px; height: 41px;}
.rx450h .key-visual .fig-txt p {width: 334px; height: 56px;}
.rx450h .key-visual .fig-txt a.has-3-rows { top:202px; left:0; }
.rx450h .key-visual .fig-txt a.btn-rxcampaign { top:300px; }
.rx450h .content-1 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.rx450h .content-1 .fig-txt p {position:absolute; top:193px; left:50px;}
.rx450h .content-2 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.rx450h .content-2 .fig-txt p {position:absolute; top:193px; left:50px;}
.rx450h .content-3 .fig-txt h4 {position:absolute; top:530px; right:109px;}
.rx450h .content-3 .fig-txt p {position:absolute; top:614px; right:392px;}

.rx450hfsport .key-visual .fig-txt h3 { width:194px; height:58px; }
.rx450hfsport .key-visual .fig-txt strong {width:268px; height:41px; }
.rx450hfsport .key-visual .fig-txt p { width:390px; height:66px; }
.rx450hfsport .key-visual .fig-txt a.has-3-rows {top:202px; left:0;}
.rx450hfsport .key-visual .fig-txt a.btn-rxcampaign { top:300px; }
.rx450hfsport .content-1 .fig-txt h4 { position:absolute; top:110px; left:50px;}
.rx450hfsport .content-1 .fig-txt p { position:absolute; top:193px; left:50px;}
.rx450hfsport .content-2 .fig-txt h4 { position:absolute; top:530px; right:78px; }
.rx450hfsport .content-2 .fig-txt p { position:absolute; top:613px; right:198px; }
.rx450hfsport .content-3 .fig-txt h4 {position:absolute; top:530px; right:109px;}
.rx450hfsport .content-3 .fig-txt p {position:absolute; top:614px; right:392px;}

.rx350 .key-visual .fig-txt h3 {width: 191px; height: 58px;}
.rx350 .key-visual .fig-txt strong {width: 328px; height: 41px; top:58px;}
.rx350 .key-visual .fig-txt p {width: 334px; height: 56px; top:90px;}
.rx350 .key-visual .fig-txt a.has-3-rows {top:142px; left:0;}
.rx350 .key-visual .fig-txt a.btn-rxcampaign { top:240px; }
.rx350 .content-1 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.rx350 .content-1 .fig-txt p {position:absolute; top:193px; left:50px;}
.rx350 .content-2 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.rx350 .content-2 .fig-txt p {position:absolute; top:223px; left:50px;}
.rx350 .content-3 .fig-txt h4 {position:absolute; top:498px; right:111px;}
.rx350 .content-3 .fig-txt p {position:absolute; top:612px; right:220px;}

/*
.rx350fsport .key-visual .fig-txt h3 {width:194px; height:58px; }
.rx350fsport .key-visual .fig-txt strong {width:268px; height:41px; }
.rx350fsport .key-visual .fig-txt p { width:390px; height:66px; }
.rx350fsport .content-1 .fig-txt h4 { position:absolute; top:120px; left:160px; }
.rx350fsport .content-1 .fig-txt p { position:absolute; top:216px; left:160px; }
.rx350fsport .content-2 .fig-txt h4 { position:absolute; top:540px; right:165px; }
.rx350fsport .content-2 .fig-txt p { position:absolute; top:654px; right:412px; }
.rx350fsport .content-3 .fig-txt h4 { position:absolute; top:120px; left:160px; }
.rx350fsport .content-3 .fig-txt p { position:absolute; top:232px; left:160px; }
*/

/* NX - NX 200t, NX 200t F SPORT, NX 300h */
.nx200t .key-visual .fig-txt h3 {width: 216px; height: 57px;}
.nx200t .key-visual .fig-txt strong {width: 226px; height: 40px;}
.nx200t .key-visual .fig-txt p {width: 385px; height: 55px;}
.nx200t .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}
.nx200t .key-visual p.date{position: fixed; bottom:10.777%; left:230px}
.nx200t .key-visual p.date span{display:block;}
.nx200t .content-1 .fig-txt h4 {position:absolute; top:110px; right:79px;}
.nx200t .content-1 .fig-txt p {position:absolute; top:226px; right:394px;}
.nx200t .content-2 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.nx200t .content-2 .fig-txt p {position:absolute; top:227px; left:50px;}
.nx200t .content-3 .fig-txt h4 {position:absolute; top:110px; right:79px;}
.nx200t .content-3 .fig-txt p {position:absolute; top:226px; right:327px;}

.nxfsport .key-visual .fig-txt h3 {width: 430px; height: 58px;}
.nxfsport .key-visual .fig-txt strong {width: 227px; height: 40px;}
.nxfsport .key-visual .fig-txt p {width: 387px; height: 56px;}
.nxfsport .key-visual .fig-txt a.has-3-rows {top:166px; left:0; }
.nxfsport .key-visual p.date{position: fixed; bottom:10.777%; left:230px}
.nxfsport .key-visual p.date span{display:block;}
.nxfsport .content-1 .fig-txt h4 {position:absolute; top:110px; right:79px;}
.nxfsport .content-1 .fig-txt p {position:absolute; top:226px; right:334px;}
.nxfsport .content-2 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.nxfsport .content-2 .fig-txt p {position:absolute; top:227px; left:50px;}
.nxfsport .content-3 .fig-txt h4 {position:absolute; top:340px; left:50%; margin-left:-244px;}
.nxfsport .content-3 .fig-txt p {position:absolute; top:455px; left:50%; margin-left:-142px; }

.nx300h .key-visual .fig-txt{ top:90px }
.nx300h .key-visual .fig-txt h3 {width: 180px; height: 109px;}
.nx300h .key-visual .fig-txt strong {position:absolute; top:110px; left:-8px; width: 173px; height: 91px;}
.nx300h .key-visual .fig-txt p {position:absolute; top:202px; left:-8px; width: 173px; height: 21px;}
.nx300h .key-visual .fig-txt a {top:202px; left:0;}
.nx300h .key-visual .fig-txt a.btn-microsite {top:330px; }
.nx300h .content-1 .fig-txt h4 {position:absolute; top:110px; right:121px; }
.nx300h .content-1 .fig-txt p { position:absolute; top:224px; right:412px; }
.nx300h .content-3 .fig-txt h4 { position:absolute; top:110px; right:144px; }
.nx300h .content-3 .fig-txt p { position:absolute; top:226px; right:392px; }
.nx300h .content-4 .fig-txt h4 { position:absolute; top:110px; left:101px; }
.nx300h .content-4 .fig-txt p { position:absolute; top:228px; left:101px; }

/* CT -  CT 200h, CT-h F SPORT */

.ct200h .key-visual .fig-txt h3 {width: 216px; height: 58px;}
.ct200h .key-visual .fig-txt strong {width: 223px; height: 38px; }
.ct200h .key-visual .fig-txt p {width: 413px; height: 54px;}
.ct200h .key-visual .fig-txt a.has-3-rows {top:226px; left:0;}
.ct200h .key-visual .fig-txt a.btn-microsite{top:256px}
.ct200h .content-1 .fig-txt h4 {position:absolute; top:530px; left:132px;}
.ct200h .content-1 .fig-txt p {position:absolute; top:644px; left:132px;}
.ct200h .content-2 .fig-txt h4 {position:absolute; top:340px; right:200px;}
.ct200h .content-2 .fig-txt p {position:absolute; top:483px; right:446px;}
.ct200h .content-3 .fig-txt h4 {position:absolute; top:530px; right:65px;}
.ct200h .content-3 .fig-txt p {position:absolute; top:650px; right:397px;}

.ctfsport .key-visual .fig-txt h3 {width: 430px; height: 58px;}
.ctfsport .key-visual .fig-txt strong {width: 223px; height: 38px;}
.ctfsport .key-visual .fig-txt p {width: 413px; height: 54px;}
.ctfsport .key-visual .fig-txt a.has-3-rows {top:226px; left:0;}
.ctfsport .key-visual .fig-txt a.btn-microsite{top:256px}
.ctfsport .content-2 .fig-txt h4 {position:absolute; top:530px; left:140px;}
.ctfsport .content-2 .fig-txt p {position:absolute; top:644px; left:140px;}
.ctfsport .content-3 .fig-txt h4 {position:absolute; top:340px; right:111px;}
.ctfsport .content-3 .fig-txt p {position:absolute; top:450px; right:371px;}
.ctfsport .content-4 .fig-txt h4 {position:absolute; top:110px; left:114px;}
.ctfsport .content-4 .fig-txt p {position:absolute; top:220px; left:114px;}

/* RC - RC F, RC F SPORT */
.rcf .key-visual .fig-txt h3 {width: 216px; height: 57px;}
.rcf .key-visual .fig-txt strong {width: 226px; height: 40px;}
.rcf .key-visual .fig-txt p {width: 385px; height: 55px;}
.rcf .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}
.rcf .key-visual .fig-txt a.btn-microsite{display:none;}
.rcf .key-visual p.date{position: fixed; bottom:95px; left:240px}
.rcf .key-visual p.date span{display:block;}
.rcf .content-1 .fig-txt h4 {position:absolute; top:110px; left:50px;}
.rcf .content-1 .fig-txt p {position:absolute; top:227px; left:50px;}
.rcf .content-2 .fig-txt h4 {position:absolute; top:110px; right:96px;}
.rcf .content-2 .fig-txt p {position:absolute; top:225px; right:248px;}
.rcf .content-3 .fig-txt h4 {position:absolute; top:110px; right:136px;}
.rcf .content-3 .fig-txt p {position:absolute; top:225px; right:233px;}

.rcfsport .key-visual .fig-txt h3 {width: 430px; height: 58px;}
.rcfsport .key-visual .fig-txt strong {width: 227px; height: 40px;}
.rcfsport .key-visual .fig-txt p {width: 387px; height: 56px;}
.rcfsport .key-visual .fig-txt a.has-3-rows {top:166px; left:0; }
.rcfsport .key-visual p.date{position: fixed; bottom:95px; left:240px}
.rcfsport .key-visual p.date span{display:block;}
.rcfsport .content-1 .fig-txt h4 {position:absolute; top:110px; right:163px;}
.rcfsport .content-1 .fig-txt p {position:absolute; top:225px; right:326px;}
.rcfsport .content-2 .fig-txt h4 {position:absolute; top:530px; left:50px;}
.rcfsport .content-2 .fig-txt p {position:absolute; top:645px; left:50px;}
.rcfsport .content-3 .fig-txt h4 {position:absolute; top:530px; right:133px;}
.rcfsport .content-3 .fig-txt p {position:absolute; top:645px; right:251px;}


/* conceptCar Gallery */
.conceptcar .fig-content img { position: absolute; }
.conceptcar .content-1 { height:5000px; }
.conceptcar .content-1 figure { position:fixed; overflow:hidden; width: 100%; height: 100%;}
.conceptcar .content-1 .fig-content { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000;}
.conceptcar .content-1 .fig-content img {position: absolute}
.conceptcar .content-1 .fig-txt h3 { position:absolute; left:50%; top:239px; margin-left:-448.5px; }
.conceptcar .content-1 .fig-txt p { position:absolute; left:50%; top:470px; margin-left:-270px; }

.conceptcar .content-2 .inner-cont-wrap {padding:0; }
.conceptcar .content-2 .inner-cont-wrap .kv-wrap{position: relative; background-color: #000000; width: 100%; overflow: hidden;}
.conceptcar .content-2 .inner-cont-wrap .kv-inner-wrap{position: relative; width:1600px; overflow: hidden; left: 50%; margin-left: -800px;}
/*.conceptcar .content-2 .inner-cont-wrap .visual-wrap{width:4800px}*/
.conceptcar .content-2 .inner-cont-wrap .visual-wrap figure{position: relative; float:left; overflow: hidden;  width:1600px; height:710px; }
.conceptcar .content-2 .inner-cont-wrap .visual-wrap .fig-content{overflow: visible;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap .fig-content img{position: absolute; }
.conceptcar .content-2 .inner-cont-wrap .visual-wrap .fig-txt{ position:absolute; left:0; width:100%; text-align: center }
.conceptcar .content-2 .inner-cont-wrap .kv-indi-wrap {position: absolute; bottom:25px; width:100%; text-align: center}
.conceptcar .content-2 .inner-cont-wrap .kv-indicator {}
.conceptcar .content-2 .inner-cont-wrap .kv-indicator li{display:inline-block}
.conceptcar .content-2 .inner-cont-wrap .kv-indicator li a{padding:5px 3px}
.conceptcar .content-2 .btn-prev-next {}
.conceptcar .content-2 .btn-prev-next a{position: absolute;top:50%; margin-top:-30px;  z-index: 3;}
.conceptcar .content-2 .btn-prev-next a.prev{left:0;}
.conceptcar .content-2 .btn-prev-next a.next{right:0;}
.conceptcar .content-2 .navi-tabs-wrap{padding-bottom:35px;}
.conceptcar .content-2 .navi-tabs-wrap ul:after{display:block; clear:both; content: ''}
.conceptcar .content-2 .navi-tabs-wrap li{float:left}
.conceptcar .content-2 .navi-tabs-wrap .navi-list{width:1090px; margin:0 auto}
.conceptcar .content-2 .navi-tabs-wrap .navi-list>li{height:37px; padding-top:20px}
.conceptcar .content-2 .navi-tabs-wrap .navi-list>li.last li.last-child{padding-right:0}
/*.conceptcar .content-2 .navi-tabs-wrap .navi-list>li:last-child li:last-child{padding-right:0}*/
.conceptcar .content-2 .navi-tabs-wrap .year-code{padding-top:24px;font:13px 'nobel-light'; font-weight:bold; color:#999; }
.conceptcar .content-2 .navi-tabs-wrap .sub-tab{margin-top:-37px; }
.conceptcar .content-2 .navi-tabs-wrap .sub-tab li{padding-right:27px}
.conceptcar .content-2 .navi-tabs-wrap .sub-tab li>a{font-size:15px; color:#666}
.conceptcar .content-2 .navi-tabs-wrap .sub-tab li>a:hover{color:#000}
.conceptcar .content-2 .navi-tabs-wrap .sub-tab li.on>a{color:#ed1c24}
.conceptcar .content-2 .bg-load{position: absolute; opacity: 1; background: #000000; transition:all 0.5s; pointer-events: none;}
.conceptcar .content-2 .bg-load.off{opacity: 0; display: none \9;}
/* 첫페이지만 텍스트 이미지 추가, 센터 정렬, 높이만 변경 */
.conceptcar .content-2 .inner-cont-wrap .visual-wrap .kv-list-0 .fig-txt{ top:50px;}
/* 수정 20161215 */
.conceptcar .content-2 .inner-cont-wrap .visual-wrap .kv-list-0 .fig-txt a.btn-detail {display: inline-block; position: relative; top: -15px; text-align: center}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-0 .kv-list-0 .fig-txt a.btn-detail {margin-left: 42px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-1 .kv-list-0 .fig-txt a.btn-detail {margin-left: -11px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-2 .kv-list-0 .fig-txt a.btn-detail {margin-left: -37px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-3 .kv-list-0 .fig-txt a.btn-detail {margin-left: -38px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-4 .kv-list-0 .fig-txt a.btn-detail {margin-left: -138px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-5 .kv-list-0 .fig-txt a.btn-detail {margin-left: -85px; top: 0}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-6 .kv-list-0 .fig-txt a.btn-detail {margin-left: -175px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-7 .kv-list-0 .fig-txt a.btn-detail {margin-left: -173px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-8 .kv-list-0 .fig-txt a.btn-detail {margin-left: -112px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-9 .kv-list-0 .fig-txt a.btn-detail {margin-left: -166px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-10 .kv-list-0 .fig-txt a.btn-detail {margin-left: -125px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-11 .kv-list-0 .fig-txt a.btn-detail {margin-left: -140px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-12 .kv-list-0 .fig-txt a.btn-detail {margin-left: -150px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-13 .kv-list-0 .fig-txt a.btn-detail {margin-left: -203px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-14 .kv-list-0 .fig-txt a.btn-detail {margin-left: -112px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-15 .kv-list-0 .fig-txt a.btn-detail {margin-left: -260px;}
.conceptcar .content-2 .inner-cont-wrap .visual-wrap.model-16 .kv-list-0 .fig-txt a.btn-detail {margin-left: -71px;}
/* // 수정 20161215 */
.conceptcar .content-3 {background-color: #000000; overflow: hidden;}
.conceptcar .content-3 .conceptcar-movable {height: 800px;}
.conceptcar .content-3 .conceptcar-movable .changable {position: absolute; left: 50%; margin-left: -800px;}
.conceptcar .content-3 .fig-txt h3 { position:absolute; left:50%; top:129px; margin-left:-372.5px;  }
.conceptcar .content-3 .fig-txt p { position:absolute; left:50%; top:129px; margin-left:-244.5px; top:189px; }

/* future car */
/* NX200T 20150202 */
.futurecar .visual-wrap{background: #000;}
.futurecar.future-nx200t .content-box{position:relative; left: 50%; width: 1600px; margin-left: -800px;  background: #000; overflow: hidden;}
.futurecar.future-nx200t #about-model .fig-txt h3,
.futurecar.future-nx200t #about-model .fig-txt strong,
.futurecar.future-nx200t #about-model .fig-txt p {position: absolute;}

.futurecar.future-nx200t #about-model{background: #000;}
.futurecar.future-nx200t #about-model .key-visual{height:5000px;}
.futurecar.future-nx200t #about-model .key-visual .fig-txt{top:90px;}
.futurecar.future-nx200t #about-model .key-visual .fig-txt h3 {top:30px;}
.futurecar.future-nx200t #about-model .key-visual .fig-txt strong {top:0}
.futurecar.future-nx200t #about-model .key-visual .fig-txt p {top:108px;}
.futurecar.future-nx200t #about-model .key-visual p.date{position: fixed; bottom:47px; left:240px}
.futurecar.future-nx200t #about-model .key-visual p.date span{display:block;}
.futurecar.future-nx200t #about-model .key-visual p.date span.first{padding-bottom:40px;}
.futurecar.future-nx200t #about-model .key-visual p.date span.last{margin-left:-1px;}
.futurecar.future-nx200t #about-model .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}

.futurecar.future-nx200t #about-model .content-1 .content-box{left:0; margin-left:0; }
.futurecar.future-nx200t #about-model .content-1 .fig-content{height:1085px;}
.futurecar.future-nx200t #about-model .content-1 .fig-content img{position: static;}
.futurecar.future-nx200t #about-model .content-1 .fig-content span{position:absolute; display:block}
.futurecar.future-nx200t #about-model .content-1 .fig-content span.ps-left{left:0; top:130px; width:840px; height:920px;}
.futurecar.future-nx200t #about-model .content-1 .fig-content span.ps-left img{position: relative; left:-50px; top:0}
.futurecar.future-nx200t #about-model .content-1 .fig-content span.ps-right{left:950px; top:520px;}
.futurecar.future-nx200t #about-model .content-1 .fig-txt h3 { top: 381px;left: 50%; margin-left: -351px;}
.futurecar.future-nx200t #about-model .content-1 .fig-txt strong { top: 317px;left: 50%; margin-left: -210px;}
.futurecar.future-nx200t #about-model .content-1 .fig-txt p {top: 590px; right:0;}

/* 타일 공통 */
.futurecar.future-nx200t #about-model .tile-outer-wrap{position: absolute; left:50%; top:140px; margin-left:-600px; }
.futurecar.future-nx200t #about-model .tile-pics-wrap { width:1200px; margin: 0 auto 0;}
.futurecar.future-nx200t #about-model .tile-pics-wrap li { position:relative; float:left; width:50%; overflow: hidden; }
.futurecar.future-nx200t #about-model .tile-pics-wrap li a{display: block;}
.futurecar.future-nx200t #about-model .tile-pics-wrap li a img{ display: block; position: relative; left:50%; margin-left: -300px;  }
.futurecar.future-nx200t #about-model .tile-pics-wrap li .point { position:absolute; right:0; bottom:0; width:60px; height:60px; display:block; background: url('/asset/images/common/sprite_common.png') no-repeat 0 -450px; }


.futurecar.future-nx200t #about-model .content-2 .content-box{height:540px;}
.futurecar.future-nx200t #about-model .content-2 h3 {position:absolute; top:50px;left: 50%; margin-left: -159px;}
.futurecar.future-nx200t #about-model .content-2 .tile-outer-wrap{height:300px;}

.futurecar.future-nx200t #about-model .content-3 figure{position:relative; top:0; left:50%;  width:1600px; margin-left:-800px;}
.futurecar.future-nx200t #about-model .content-3 .fig-content{height:1080px;}
.futurecar.future-nx200t #about-model .content-3 .fig-txt{}
.futurecar.future-nx200t #about-model .content-3 .fig-txt strong { top: 140px;left: 50%; margin-left: -174px;}
.futurecar.future-nx200t #about-model .content-3 .fig-txt h3 {top: 195px;left: 50%; margin-left: -180px;}
.futurecar.future-nx200t #about-model .content-3 .fig-txt p {top: 395px;left: 50%;  margin-left: -207px;}

.futurecar.future-nx200t #about-model .content-4 .content-box{height:1160px;}
.futurecar.future-nx200t #about-model .content-4 h3 {position:absolute; top:70px;left: 50%; margin-left: -159px;}
.futurecar.future-nx200t #about-model .content-4 .tile-outer-wrap{height:1200px;}

.futurecar.future-nx200t #about-model .content-5{background: #000;}
.futurecar.future-nx200t #about-model .content-5 .content-box{height: 2988px; background: #fff;}
.futurecar.future-nx200t #about-model .content-5 figure{background: none; overflow: visible;}
.futurecar.future-nx200t #about-model .content-5 .contents-visual .fig-content {position:absolute; top:0; left: 50%;height:auto; margin-left: -800px; background: none; }
.futurecar.future-nx200t #about-model .content-5 .contents-visual .fig-content img{position:static;}
.futurecar.future-nx200t #about-model .content-5 .part-1{padding-top:153px;}
.futurecar.future-nx200t #about-model .content-5 .part-1 .fig-content{}
.futurecar.future-nx200t #about-model .content-5 .part-1{z-index:10;}
.futurecar.future-nx200t #about-model .content-5 .part-1 .fig-content{height:1130px; top:153px;}
.futurecar.future-nx200t #about-model .content-5 .part-1 .fig-txt{}
.futurecar.future-nx200t #about-model .content-5 .part-1 .fig-txt strong{ left:60px; top:100px;}
.futurecar.future-nx200t #about-model .content-5 .part-1 .fig-txt h3{ left:60px; top:152px;}
.futurecar.future-nx200t #about-model .content-5 .part-1 .fig-txt p{left:60px; top:336px;}
.futurecar.future-nx200t #about-model .content-5 .part-2{z-index:9;}
.futurecar.future-nx200t #about-model .content-5 .part-2 .fig-content{top:627px;}
.futurecar.future-nx200t #about-model .content-5 .part-3{z-index:8;}
.futurecar.future-nx200t #about-model .content-5 .part-3 .fig-content{top:944px;}
.futurecar.future-nx200t #about-model .content-5 .part-4{z-index:7;}
.futurecar.future-nx200t #about-model .content-5 .part-4 .fig-content{top:1209px;}
.futurecar.future-nx200t #about-model .content-5 .part-5{z-index:6;}
.futurecar.future-nx200t #about-model .content-5 .part-5 .fig-content{top:1991px;}
.futurecar.future-nx200t #about-model .content-5 .part-5 .fig-txt p{left:50%; top:2640px; margin-left:-196px;}
.futurecar.future-nx200t #about-model .content-5 .mb-content{display: none; }

.futurecar.future-nx200t #about-model .content-6 .fig-content{height:850px;}
.futurecar.future-nx200t #about-model .content-6 .fig-content img{right:0; top:0;}

.futurecar.future-nx200t #contract .content-1{background: #191919; overflow: hidden;}
.futurecar.future-nx200t #contract .content-1 figure {position: relative; width:1600px; left:50%; margin-left:-800px;}
.futurecar.future-nx200t #contract .content-1 .fig-content{}
.futurecar.future-nx200t #contract .content-1 .fig-txt{position: absolute; left:56.25%; top:112px; width:408px; transition: 0.3s left;}
.futurecar.future-nx200t #contract .content-1 .fig-txt h3{padding-bottom:57px; }
.futurecar.future-nx200t #contract .content-1 .fig-txt p{padding-bottom:45px; }
.futurecar.future-nx200t #contract .content-1 .fig-txt a.btn-img{}

/* FutureCar - RC */
.futurecar.future-rc .visual-wrap{background: #000;}
.futurecar.future-rc .content-box{position:relative; left: 50%; width: 1600px; margin-left: -800px;  background: #000; overflow: hidden;}
.futurecar.future-rc #about-model{background: #000;}
.futurecar.future-rc #about-model .fig-txt h3,
.futurecar.future-rc #about-model .fig-txt strong,
.futurecar.future-rc #about-model .fig-txt p {position: absolute;}
.futurecar.future-rc #about-model .key-visual{height:5000px;}
.futurecar.future-rc #about-model .key-visual .fig-txt{top:80px;}
.futurecar.future-rc #about-model .key-visual .fig-txt strong { top:0; }
.futurecar.future-rc #about-model .key-visual .fig-txt h3 { top:30px; }
.futurecar.future-rc #about-model .key-visual .fig-txt p {top:108px;}
.futurecar.future-rc #about-model .key-visual p.date{position: fixed; bottom:47px; left:240px}
.futurecar.future-rc #about-model .key-visual p.date span{display:block;}
.futurecar.future-rc #about-model .key-visual p.date span.first{padding-bottom:40px;}
.futurecar.future-rc #about-model .key-visual p.date span.last{margin-left:-1px;}
.futurecar.future-rc #about-model .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}

.futurecar.future-rc #about-model .content-1 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rc #about-model .content-1 .fig-content{height:800px;}
.futurecar.future-rc #about-model .content-1 .fig-txt{}
.futurecar.future-rc #about-model .content-1 .fig-txt strong { top:80px;left: 50%; margin-left: -255px;}
.futurecar.future-rc #about-model .content-1 .fig-txt h3 { top:126px; left: 50%; margin-left:-111px;}
.futurecar.future-rc #about-model .content-1 .fig-txt p { top:230px; left: 50%; margin-left:-170.5px;}

.futurecar.future-rc #about-model .content-2 .content-box { height:1290px; }
.futurecar.future-rc #about-model .content-2 figure {position: relative; width:1600px; left:50%; margin-left:-800px;}
.futurecar.future-rc #about-model .content-2 .fig-content { height:1290px; }
.futurecar.future-rc #about-model .content-2 .fig-content img { position: static; }
.futurecar.future-rc #about-model .content-2 .fig-content span{position:absolute; display:block}
.futurecar.future-rc #about-model .content-2 .fig-content span.ps-top { left:380px; top:120px; z-index:3; }
.futurecar.future-rc #about-model .content-2 .fig-content span.ps-center { left:740px; top:420px; z-index:1; }
.futurecar.future-rc #about-model .content-2 .fig-content span.ps-bottom { left:60px; top:810px; z-index:3; }
.futurecar.future-rc #about-model .content-2 .fig-txt p { top:590px; left:442px; z-index:4; }
.futurecar.future-rc #about-model .content-2 .mb-content { display: none; }

.futurecar.future-rc #about-model .content-3 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rc #about-model .content-3 .fig-content { height:800px; }
.futurecar.future-rc #about-model .content-3 .fig-txt strong { top:96px; left:50%; margin-left:-237px; }
.futurecar.future-rc #about-model .content-3 .fig-txt h3 { top:140px; left:50%; margin-left:-389px; }
.futurecar.future-rc #about-model .content-3 .fig-txt p { top:248px; left:50%; margin-left:-135.5px; }
.futurecar.future-rc #about-model .content-3 .fig-txt a { position:absolute; top:357px; left:50%;  margin-left:-33px; }

.futurecar.future-rc #about-model .content-4 .content-box { height:1290px; }
.futurecar.future-rc #about-model .content-4 figure {position: relative; width:1600px; left:50%; margin-left:-800px;}
.futurecar.future-rc #about-model .content-4 .fig-content { height:1290px; }
.futurecar.future-rc #about-model .content-4 .fig-content img { position: static; }
.futurecar.future-rc #about-model .content-4 .fig-content span{position:absolute; display:block}
.futurecar.future-rc #about-model .content-4 .fig-content span.ps-top { right:0; top:120px; z-index:3; }
.futurecar.future-rc #about-model .content-4 .fig-content span.ps-center { left:0px; top:420px; z-index:2; }
.futurecar.future-rc #about-model .content-4 .fig-content span.ps-bottom { left:840px; top:750px; z-index:1; }
.futurecar.future-rc #about-model .content-4 .fig-txt p { top:555px; left:828px; }
.futurecar.future-rc #about-model .content-4 .mb-content { display: none; }

.futurecar.future-rc #about-model .content-5 { background: #000; }
.futurecar.future-rc #about-model .content-5 .content-box { height:2400px; background: #000; }
.futurecar.future-rc #about-model .content-5 figure { background: none; overflow: visible; }
.futurecar.future-rc #about-model .content-5 .contents-visual .fig-content {position:absolute; top:0; left: 50%;height:auto; margin-left: -800px; background: none; }
.futurecar.future-rc #about-model .content-5 .contents-visual .fig-content img{position:static;}
.futurecar.future-rc #about-model .content-5 figure { height:800px; }
.futurecar.future-rc #about-model .content-5 figure .fig-content > div { overflow:hidden; }
.futurecar.future-rc #about-model .content-5 figure .fig-content > div img {	margin-top:-100px; }
.futurecar.future-rc #about-model .content-5 .part-1 { padding-top:0; z-index:10; }
.futurecar.future-rc #about-model .content-5 .part-1 .fig-content { top:220px; }
.futurecar.future-rc #about-model .content-5 .part-1 .fig-content .fig-img1 { height:400px; }
.futurecar.future-rc #about-model .content-5 .part-1 .fig-content .fig-img2 { height:180px; }
.futurecar.future-rc #about-model .content-5 .part-1 .fig-txt strong { position:absolute; top:50px; left:50%; margin-left:-280.5px; }
.futurecar.future-rc #about-model .content-5 .part-1 .fig-txt p { position:absolute; top:124px; left:50%; margin-left:-182.5px; }
.futurecar.future-rc #about-model .content-5 .part-2 { z-index:9; }
.futurecar.future-rc #about-model .content-5 .part-2 .fig-content .fig-img1 { height:400px; }
.futurecar.future-rc #about-model .content-5 .part-2 .fig-content .fig-img2 { height:400px; }
.futurecar.future-rc #about-model .content-5 .part-3 { z-index:8; }
.futurecar.future-rc #about-model .content-5 .part-3 .fig-content .fig-img1 { height:180px; }
.futurecar.future-rc #about-model .content-5 .part-3 .fig-content .fig-img2 { height:400px; }
.futurecar.future-rc #about-model .content-5 .mb-content { display: none; }

.futurecar.future-rc #about-model .content-6 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rc #about-model .content-6 .fig-content { height:850px; }
.futurecar.future-rc #about-model .content-6 .fig-content img { right:0; top:0; }
.futurecar.future-rc #about-model .content-6 .fig-txt strong { top:50px; left:50%; margin-left:-137.5px;}


/* FutureCar - ES */
.futurecar.future-es .visual-wrap{background: #000;}
.futurecar.future-es .content-box{position:relative; left: 50%; width: 1600px; margin-left: -800px;  background: #000; overflow: hidden;}
.futurecar.future-es #about-model{background: #000;}
.futurecar.future-es #about-model .fig-txt h3,
.futurecar.future-es #about-model .fig-txt strong,
.futurecar.future-es #about-model .fig-txt p {position: absolute;}
.futurecar.future-es #about-model .key-visual{height:5000px;}
.futurecar.future-es #about-model .key-visual .fig-txt { left:98px; top:208px; }
.futurecar.future-es #about-model .key-visual .fig-txt h3 { top:52px; }
.futurecar.future-es #about-model .key-visual .fig-txt strong { top:0px; }
.futurecar.future-es #about-model .key-visual .fig-txt p { top:108px; }
.futurecar.future-es #about-model .key-visual p.date{position: fixed; bottom:47px; left:240px}
.futurecar.future-es #about-model .key-visual p.date span{display:block;}
.futurecar.future-es #about-model .key-visual p.date span.first{padding-bottom:40px;}
.futurecar.future-es #about-model .key-visual p.date span.last{margin-left:-1px;}
.futurecar.future-es #about-model .key-visual .fig-txt a.has-3-rows {top:166px; left:0;}

.futurecar.future-es #about-model .content-1 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-es #about-model .content-1 .fig-content { height:1260px; }     /* height:800px; */
.futurecar.future-es #about-model .content-1 .fig-txt{}
.futurecar.future-es #about-model .content-1 .fig-txt strong { top:194px; left:50%; margin-left:-374px; }
.futurecar.future-es #about-model .content-1 .fig-txt p { top:247px; left:50%; margin-left:-335px; }

.futurecar.future-es #about-model .content-2 figure { position: relative; width:1600px; left:50%; margin-left:-800px; }
.futurecar.future-es #about-model .content-2 .content-box { height:1462px; }
.futurecar.future-es #about-model .content-2 .fig-content { height:1462px; }
.futurecar.future-es #about-model .content-2 .fig-content img { position:static; }
.futurecar.future-es #about-model .content-2 .fig-content span { position:absolute; display:block; }
.futurecar.future-es #about-model .content-2 .fig-content span.ps-lt { left:140px; top:210px; z-index:3; }
.futurecar.future-es #about-model .content-2 .fig-content span.ps-rc { left:920px; top:420px; z-index:1; }
.futurecar.future-es #about-model .content-2 .fig-content span.ps-lc { left:560px; top:660px; z-index:3; }
.futurecar.future-es #about-model .content-2 .fig-content span.ps-rb { left:920px; top:840px; z-index:1; }
.futurecar.future-es #about-model .content-2 .fig-content span.ps-lb { left:350px; top:930px; z-index:3; }
.futurecar.future-es #about-model .content-2 .fig-txt p { left:130px; top:110px; z-index:0; }
.futurecar.future-es #about-model .content-2 .mb-content { display:none; }

.futurecar.future-es #about-model .content-3 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-es #about-model .content-3 .fig-content { height:1255px; }
.futurecar.future-es #about-model .content-3 .fig-txt strong { top:194px; left:50%; margin-left:-344px; }
.futurecar.future-es #about-model .content-3 .fig-txt p { top:254px; left:50%; margin-left:-297px; }

.futurecar.future-es #about-model .content-4 figure { position:relative; width:1600px; left:50%; margin-left:-800px; }
.futurecar.future-es #about-model .content-4 .content-box { height:1292px; }
.futurecar.future-es #about-model .content-4 .fig-content { height:1292px; }
.futurecar.future-es #about-model .content-4 .fig-content img  { position:static; }
.futurecar.future-es #about-model .content-4 .fig-content span { position:absolute; display:block; }
.futurecar.future-es #about-model .content-4 .fig-content span.ps-lt { left:500px; top:192px; z-index:3; }
.futurecar.future-es #about-model .content-4 .fig-content span.ps-rt { left:800px; top:252px; z-index:1; }
.futurecar.future-es #about-model .content-4 .fig-content span.ps-lc { left:140px; top:522px; z-index:3; }
.futurecar.future-es #about-model .content-4 .fig-content span.ps-rc { left:800px; top:642px; z-index:1; }
.futurecar.future-es #about-model .content-4 .fig-content span.ps-rb { left:800px; top:912px; z-index:3; }
.futurecar.future-es #about-model .content-4 .fig-txt p { left:1065px; top:130px; }
.futurecar.future-es #about-model .content-4 .mb-content { display:none; }

.futurecar.future-es #about-model .content-5 { background: #000; }
.futurecar.future-es #about-model .content-5 figure { background: none; overflow: visible; }
.futurecar.future-es #about-model .content-5 figure .fig-content > div { overflow:hidden; }
.futurecar.future-es #about-model .content-5 figure .fig-content > div img { margin-top:-100px; }
.futurecar.future-es #about-model .content-5 .content-box { height:2735px; background: #000; }
.futurecar.future-es #about-model .content-5 .contents-visual .fig-content {position:absolute; top:0; left: 50%;height:auto; margin-left: -800px; background: none; }
.futurecar.future-es #about-model .content-5 .contents-visual .fig-content img{position:static;}
.futurecar.future-es #about-model .content-5 .part-1 { height:1035px; padding-top:0; z-index:10; }
.futurecar.future-es #about-model .content-5 .part-1 .fig-content { top:220px; }
.futurecar.future-es #about-model .content-5 .part-1 .fig-content .fig-img1 { height:820px; }
.futurecar.future-es #about-model .content-5 .part-1 .fig-txt strong { position:absolute; left:108px; top:100px; }
.futurecar.future-es #about-model .content-5 .part-2 { height:1100px; z-index:9; }
.futurecar.future-es #about-model .content-5 .part-2 .fig-content .fig-img1 { height:500px; }
.futurecar.future-es #about-model .content-5 .part-2 .fig-content .fig-img2 { height:600px; }
.futurecar.future-es #about-model .content-5 .part-3 { height:600px; z-index:8; }
.futurecar.future-es #about-model .content-5 .part-3 .fig-content .fig-img1 { height:600px; }
.futurecar.future-es #about-model .content-5 .mb-content { display: none; }

.futurecar.future-es #about-model .content-6 figure { position:relative; left:50%; top:0; margin-left:-800px; width:1600px; }
.futurecar.future-es #about-model .content-6 .fig-content { height:800px; }
.futurecar.future-es #about-model .content-6 .fig-content img { right:0; top:0; }
.futurecar.future-es #about-model .content-6 .fig-txt strong { top:100px; left:50%; margin-left:-137.5px;}

/* FutureCar - RX */
.futurecar.future-rx .visual-wrap{background: #000;}
.futurecar.future-rx .content-box{position:relative; left: 50%; width: 1600px; margin-left: -800px;  background: #000; overflow: hidden;}
.futurecar.future-rx #about-model{background: #000;}
.futurecar.future-rx #about-model .fig-txt h3,
.futurecar.future-rx #about-model .fig-txt strong,
.futurecar.future-rx #about-model .fig-txt p {position: absolute;}
.futurecar.future-rx #about-model .key-visual{height:5000px;}
.futurecar.future-rx #about-model .key-visual .fig-txt { left:50%; margin-left:-392.5px; top:208px; }   /* margin-left:-302.5px; */
.futurecar.future-rx #about-model .key-visual .fig-txt h3 { top:52px; }
.futurecar.future-rx #about-model .content-1 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rx #about-model .content-1 .fig-content { height:800px; }
.futurecar.future-rx #about-model .content-1 .fig-txt strong { top:113px; left:50%; margin-left:-279.5px; }
.futurecar.future-rx #about-model .content-1 .fig-txt p { top:166px; left:50%; margin-left:-382px; }
.futurecar.future-rx #about-model .content-2 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rx #about-model .content-2 .fig-content { height:590px; }
.futurecar.future-rx #about-model .content-2 .fig-txt strong { top:67px; left:50%; margin-left:-174.5px; }
.futurecar.future-rx #about-model .content-3 .fig-content { height:760px; background:#151515; }
.futurecar.future-rx #about-model .content-3 .fig-content img { position:static; }
.futurecar.future-rx #about-model .content-3 .fig-content span { position:absolute; display:block; }
.futurecar.future-rx #about-model .content-3 .fig-content span.ps-lt { left:400px; top:30px; }
.futurecar.future-rx #about-model .content-3 .fig-content span.ps-rt { left:811px; top:30px; }
.futurecar.future-rx #about-model .content-3 .fig-content span.ps-lb { left:400px; top:340px; }
.futurecar.future-rx #about-model .content-3 .fig-content span.ps-rb { left:811px; top:340px; }
.futurecar.future-rx #about-model .content-3 .mb-content { display:none; }
.futurecar.future-rx #about-model .content-4 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rx #about-model .content-4 .fig-content { height:800px; }
.futurecar.future-rx #about-model .content-4 .fig-txt strong { top:326px; left:50%; margin-left:-366px; }
.futurecar.future-rx #about-model .content-4 .fig-txt p { top:380px; left:50%; margin-left:-270px; }
.futurecar.future-rx #about-model .content-5 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rx #about-model .content-5 .fig-content { height:590px; }
.futurecar.future-rx #about-model .content-5 .fig-txt strong { top:276px; left:50%; margin-left:-187.5px; }
.futurecar.future-rx #about-model .content-6 .fig-content { height:1070px; background:#151515; }
.futurecar.future-rx #about-model .content-6 .fig-content img { position:static; }
.futurecar.future-rx #about-model .content-6 .fig-content span { position:absolute; display:block; }
.futurecar.future-rx #about-model .content-6 .fig-content span.ps-lt { left:400px; top:30px; }
.futurecar.future-rx #about-model .content-6 .fig-content span.ps-rt { left:811px; top:30px; }
.futurecar.future-rx #about-model .content-6 .fig-content span.ps-lc { left:400px; top:340px; }
.futurecar.future-rx #about-model .content-6 .fig-content span.ps-rc { left:811px; top:340px; }
.futurecar.future-rx #about-model .content-6 .fig-content span.ps-lb { left:400px; top:650px; }
.futurecar.future-rx #about-model .content-6 .mb-content { display:none; }
.futurecar.future-rx #about-model .content-7 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rx #about-model .content-7 .fig-content { height:800px; }
.futurecar.future-rx #about-model .content-7 .fig-txt strong { top:70px; left:50%; margin-left:-259px; }
.futurecar.future-rx #about-model .content-7 .fig-txt p { top:134px; left:50%; margin-left:-263.5px; }
.futurecar.future-rx #about-model .content-8 figure { position:relative; top:0; left:50%; width:1600px; margin-left:-800px; }
.futurecar.future-rx #about-model .content-8 .fig-content { height:450px; }
.futurecar.future-rx #about-model .content-9 .fig-content { height:760px; background:#151515; }
.futurecar.future-rx #about-model .content-9 .fig-content img { position:static; }
.futurecar.future-rx #about-model .content-9 .fig-content span { position:absolute; display:block; }
.futurecar.future-rx #about-model .content-9 .fig-content span.ps-lt { left:400px; top:30px; }
.futurecar.future-rx #about-model .content-9 .fig-content span.ps-rt { left:811px; top:30px; }
.futurecar.future-rx #about-model .content-9 .fig-content span.ps-lb { left:400px; top:340px; }
.futurecar.future-rx #about-model .content-9 .mb-content { display:none; }
.futurecar.future-rx #about-model .content-10 figure { position:relative; left:50%; top:0; margin-left:-800px; width:1600px; }
.futurecar.future-rx #about-model .content-10 .fig-content { height:800px; }
.futurecar.future-rx #about-model .content-10 .fig-content img { right:0; top:0; }
.futurecar.future-rx #about-model .content-10 .fig-txt strong { top:100px; left:50%; margin-left:-228px; }



@media only screen and (min-width:960px){

}

@media only screen and (min-width:960px) and (max-width:1024px){
    /* conceptcar */
    .conceptcar .content-2 .navi-tabs-wrap{padding-left:30px}
    .conceptcar .content-2 .navi-tabs-wrap .navi-list{width:auto;}
    .conceptcar .content-2 .navi-tabs-wrap .sub-tab>li{width:92px; padding-right:0}

    /* futurecar */
    .futurecar.future-nx200t #contract .content-1 .fig-txt{left:48%;}
    .futurecar.future-rc #contract .content-1 .fig-txt{left:48%;}
    .futurecar.future-es #contract .content-1 .fig-txt{left:48%;}
    .futurecar.future-rx #contract .content-1 .fig-txt{left:48%;}
}

@media only screen and (min-width:1025px) and (max-width:1280px){
    .conceptcar .content-2 .navi-tabs-wrap{padding-left:30px}
    .conceptcar .content-2 .navi-tabs-wrap .navi-list{width:auto}
    .conceptcar .content-2 .navi-tabs-wrap .sub-tab>li{width:92px; padding-right:0}

    .futurecar.future-nx200t #contract .content-1 .fig-txt{left:51%;}
    .futurecar.future-rc #contract .content-1 .fig-txt{left:51%;}
}
@media only screen and (min-width:1280px) and (max-width:1499px){
    .futurecar.future-nx200t #about-model .content-1 .fig-txt p {top: 590px;left: 50%;}
}

@media only screen and (min-width:1500px){
    .futurecar.future-nx200t #about-model .content-1 .fig-content span.ps-right{left:auto; right:0;}
    .futurecar.future-nx200t #about-model .content-1 .fig-txt p {top: 590px;left: 50%;  margin-left: 40px;}
}

@media only screen and (max-width:1280px){
    .futurecar.future-es #about-model .content-5 .part-2 .fig-img1 { position:relative; left:15%; }
    .futurecar.future-es #about-model .content-5 .part-2 .fig-img2 { position:relative; left:-15%; }
    .futurecar.future-es #about-model .content-5 .part-3 .fig-img1 { position:relative; left:-15%; }

    .futurecar.future-rx #about-model .content-5 .part-2 .fig-img1 { position:relative; left:15%; }
    .futurecar.future-rx #about-model .content-5 .part-2 .fig-img2 { position:relative; left:-15%; }
    .futurecar.future-rx #about-model .content-5 .part-3 .fig-img1 { position:relative; left:-15%; }
}

@media only screen and (max-width:1600px){
    .futurecar.future-es #about-model .content-2 .fig-txt p { left:36.5%; margin-left:-159.5px; text-align:center; }
    .futurecar.future-es #about-model .content-4 .fig-txt p { left:800px; }
    .futurecar.future-es #about-model .content-5 .part-1 .fig-txt strong { left:47.5%; margin-left:-227px; text-align:center; }
    .futurecar.future-es #about-model .content-5 .part-1 .fig-txt strong img { width:100%; }

    .futurecar.future-rx #about-model .content-2 .fig-txt p { left:36.5%; margin-left:-159.5px; text-align:center; }
    .futurecar.future-rx #about-model .content-4 .fig-txt p { left:800px; }
    .futurecar.future-rx #about-model .content-5 .part-1 .fig-txt strong { left:47.5%; margin-left:-227px; text-align:center; }
    .futurecar.future-rx #about-model .content-5 .part-1 .fig-txt strong img { width:100%; }
}