.visual-wrap .fig-content {background:#000;}

.membership .visual-wrap .fig-txt {position:absolute;}
.membership .visual-wrap .fig-txt h3,
.membership .visual-wrap .fig-txt p{ position:relative; }
.membership .content-1 { height:5000px; }
.membership .content-1 > div {width:100%; height:100%;}
.membership .content-1 figure { position:relative; overflow:hidden; width: 100%; height: 100%;}
.membership .content-1 .fig-content { position: fixed; left: 0; width: 100%; background-color: #000000;}
.membership .content-1 .fig-content img { position:absolute; left:0;}
.membership .content-1 .fig-txt{ left:60px; top:45px; width:325px; height:530px;}       /* width:320px; */
.membership .content-1 .fig-txt h3 { left:0; top:55px }
.membership .content-1 .fig-txt p.stit { }
.membership .content-1 .fig-txt p.stxt { left:0; top:105px }
.membership .content-1 .fig-txt p.download-txt { position:relative; top:187px;left: 0;}
.membership .content-1 .fig-txt p.btns{/*display:none;*/ top:206px; left:0}  /* todo app오픈일에 맞춰 활성화 20141113 jong */
.membership .content-1 .fig-txt p.btns .btn-ios { /*float:right;*/ }

.membership .content-2 .visual-wrap {height:450px; position:relative;}
.membership .content-2 .visual-wrap .fig-content img {position: relative; left:50%; z-index:2; margin-left: -610px}
.membership .content-2 .fig-txt {width:100%; height:100%; left:0; top:150px;  z-index:3; }
.membership .content-2 .fig-txt h3, 
.membership .content-2 .fig-txt p.stxt {width:100%; position:static; text-align:center;}
.membership .content-2 .fig-txt h3 {margin-bottom:42px;}
.membership .content-2 .fig-txt p.stxt {left:0; top:0;}

.membership section.xpand-type .pg-title{font-size:26px;letter-spacing: -1px;}
.membership section.basic-type .page-title-wrap{padding: 90px 0 30px;}
.membership section.basic-type .page-title-wrap .pg-title-txt {color:#111; font-size:13px; line-height:1.5; margin:20px 0 -15px;}
.membership section.basic-type .page-title-wrap .pg-title-txt span {color:#515151; font-size:12px;}
.membership section.basic-type .inner-cont-wrap{padding-bottom:67px}
.membership .mbasic-list{border-top:4px solid #000;}
.membership .mbasic-list>li{border-bottom:1px solid #ccc; padding:26px 0 42px }
.membership .mbasic-list>li.last{border-bottom:none}
.membership .mbasic-list dl, .membership .mbasic-list dl dd p, .membership .basic-list p{line-height: 1.6;}

.membership .content-2 .mbasic-list dl{font-size: 14px; color:#111;}
.membership .content-2 .mbasic-list dl:after{clear:both; display:block; content: ''}
.membership .content-2 .mbasic-list dt{clear:left; float:left; width:13%;  font-weight:bold }
.membership .content-2 .mbasic-list dd{ float:left; width:87%;}
.membership .content-2 .mbasic-list dd p.msg-info{padding-top:15px; color:#515151; font-size: 12px}

.membership .content-3 .mbasic-list>li{padding:0}
.membership .content-3 .mbasic-list>li>a{display:block; position: relative; padding:36px 0 0; _background: skyblue;}
.membership .content-3 .mbasic-list>li>a dl{position: relative; padding:0 0 36px 70px; margin:0 10px 0 30px; color:#111;}
.membership .content-3 .mbasic-list>li>a dt{padding-bottom:5px; font:24px 'nobel-bold'}
.membership .content-3 .mbasic-list>li>a dd.desc{ width:80%; min-height:44px; color:#515151; font:13px 'SDGothicNeo1R'; line-height: 1.5;}
.membership .content-3 .mbasic-list>li>a dd.desc span{display:block}
.membership .content-3 .mbasic-list>li>a dd .desc-txt {padding-left:10px; margin-top:7px; background:url('/asset/images/common/bul_dot.gif') no-repeat left 8px;}
.membership .content-3 .mbasic-list>li>a dd.icon{
    display: block;
    position: absolute;
    left:0; top:4px;
    width:40px; height:45px;
    background:url('/asset/images/membership/sprite_memship.png') no-repeat;
}

.membership .content-3 .mbasic-list>li.mlist-0>a dd.icon{background-position: 2px 0}        /* CAR MAINTENANCE */
.membership .content-3 .mbasic-list>li.mlist-1>a dd.icon{background-position: 1px -450px}   /* VOUCHER */
.membership .content-3 .mbasic-list>li.mlist-2>a dd.icon{background-position: 9px -50px}    /* GOLF */
.membership .content-3 .mbasic-list>li.mlist-3>a dd.icon{background-position: 0 -630px}     /* MEDICAL */
.membership .content-3 .mbasic-list>li.mlist-4>a dd.icon{background-position: 0 -100px}     /* SHOPPING */
.membership .content-3 .mbasic-list>li.mlist-5>a dd.icon{background-position: 8px -150px}   /* HOTEL & RESORT */
.membership .content-3 .mbasic-list>li.mlist-6>a dd.icon{background-position: 0px -700px}  /* DINING */
.membership .content-3 .mbasic-list>li.mlist-7>a dd.icon{background-position: 0px -770px}  /* BEAUTY */
.membership .content-3 .mbasic-list>li.mlist-8>a dd.icon{background-position: 5px -200px}   /* LIFE STYLE */
.membership .content-3 .mbasic-list>li.mlist-9>a dd.icon{background-position: 10px -250px}  /* TRAVEL */
.membership .content-3 .mbasic-list>li.mlist-10>a dd.icon{background-position: 10px -350px}  /* LEXUS PREMIUM MEMBERSHIP APP. */
.membership .content-3 .mbasic-list>li.mlist-11>a dd.icon{background-position: 10px -840px} /* LEXUS MEMBERSHIP ZONE - GWANGJU */
.membership .content-3 .mbasic-list>li.mlist-12>a dd.icon{background-position: 10px -840px} /* LEXUS MEMBERSHIP ZONE - DEAGU */
.membership .content-3 .mbasic-list>li.mlist-13>a dd.icon{background-position: 10px -840px} /* LEXUS MEMBERSHIP ZONE - DAEJEON */
.membership .content-3 .mbasic-list>li.mlist-14>a dd.icon{background-position: 10px -840px} /* LEXUS MEMBERSHIP ZONE - BUSAN */

.membership .content-3 .partner-info{
    position: absolute;
    right:20px;
	top:72px;
    width:84px;
}
.membership .content-3 .partner-info .bul{
    position: absolute;
    right:0; top:2px;
    width:10px; height:8px;
    background: url('/asset/images/membership/sprite_memship.png') no-repeat 0 -400px;
}

.membership .content-3 .mbasic-list>li.open .partner-info .bul{
    background-position: -15px -398px;
}
.membership .content-3 .box-list-wrap{display:none; padding-bottom:30px;}
.membership .content-3 .mbasic-list>li.open .box-list-wrap{display:block}
.membership .content-3 .box-list-wrap:after{display:block; clear:left; content: ''}
.membership .content-3 .box-list-wrap>li{float:left; padding:0 20px 30px 0;}
.membership .content-3 .box-list{width:318px; border:1px solid #ccc; }
.membership .content-3 .box-list dl{min-height:230px; margin:25px; padding-bottom:110px; position:relative;}        /* min-height:208px; */
.membership .content-3 .box-list dt{min-height:50px; color:#000; font:18px 'SDGothicNeo1R'; font-weight:bold;}
.membership .content-3 .box-list dd.bldesc{padding-bottom:20px;}
.membership .content-3 .box-list dd.coupon{color:#254182; font:15px 'SDGothicNeo1R'; font-weight:bold; letter-spacing:-0.05em;}
.membership .content-3 .box-list dd.coupon li{padding-bottom:4px; line-height:1.4;}
.membership .content-3 .box-list dd.coupon li .txt-s {display:block; }
.membership .content-3 .box-list dd.coupon li .txt-ent {display:block; padding-top:20px;} /* 한줄 내려쓰기 위해서 추가함 2016.10.31 do */
.membership .content-3 .box-list dd.coupon li .txt-c { margin-top: 10px; font-size: 13px; word-spacing: -0.5px;color:#ff0000; }
.membership .content-3 .box-list dd.addr {width:100%; min-height:80px; padding-top:20px; position:absolute; left:0; bottom:0; font-size:13px; border-top:1px solid #ccc; }
.membership .content-3 .box-list dd.addr table{width:100%}
.membership .content-3 .box-list dd.addr th, .membership .content-3 .box-list dd.addr td {
    padding:1px 0;
    vertical-align: top;
}
.membership .content-3 .box-list dd.addr th{font-weight:normal; background: url('/asset/images/membership/vertical-bar.png') right 7px no-repeat;}
.membership .content-3 .box-list dd.addr td{padding:0 0 0 8px;}
.membership .content-3 .box-list dd.addr tr.kr td{font-family: 'SDGothicNeo1R'}
.membership .content-3 .box-list .txt-b {display:block; margin-top:5px;}
.membership .content-3 .box-list .set-fontsize { font-size:14px; }

@media only screen and (min-width:1024px){
    .membership .content-3 .mbasic-list>li>a dd.desc{width:84%}
}