.hybrid > section {overflow:hidden;}
.hybrid figure .fig-txt{position: absolute; left:0; top:0}

.hybrid #new-sec-1 {height:5000px;background-color: #000000;overflow:hidden}
.hybrid #new-sec-1 figure {position:fixed; width: 100%; height: 705px; top:50%; left:0; margin-top:-452px;}
.hybrid #new-sec-1 .fig-content-bg { position: absolute; top: 0; left: 50%; width: 1420px; height:800px; margin-left: -620px;}
.hybrid #new-sec-1 .obj-movable-logo { position: absolute; top: 169px; left: 50.5%; width: 240px; height: 457px; margin-left:-48px; }
.hybrid #new-sec-1 .obj-movable-man {position:absolute; top: 168px; left: 50.5%; width: 378px; height: 431px; margin-left:-92px; }
.hybrid #new-sec-1 .fig-txt {width:100%;}
.hybrid #new-sec-1 .fig-txt h2 {position:absolute; top:74px; left: 50%; margin-left: -32px}
.hybrid #new-sec-1 .fig-txt p {position:absolute; top:660px; left: 50%; margin-left:-174px}

.hybrid #new-sec-2 {background-color: transparent}
.hybrid #new-sec-2>div {height:694px; overflow:hidden;}
.hybrid #new-sec-2>div .fig-content-bg{position:absolute; top:50px; left:54.125%;}
.hybrid #new-sec-2>div .fig-txt {position:absolute; width:100%;}
.hybrid #new-sec-2>div .fig-txt strong {display:block; position:absolute; left: 50%; top:103px; margin-left:-93px;  width:199px; z-index:10;}
.hybrid #new-sec-2>div .fig-content {position:absolute; left:50%; top:180px; margin-left:-338px; }


.hybrid #sec-1 {height:800px;overflow:hidden;background-color: #000;}
/*
.hybrid #sec-1 figure {position:relative; overflow:hidden; width: 100%; height: 100%; left:0;}
.hybrid #sec-1 .fig-content { position: relative; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000;}
*/
.hybrid #sec-1 .obj-movable {position:absolute; top:-644px; left:54.125%;}
.hybrid #sec-1 .fig-txt {left:50%; top:50%; margin:114px 0 0 -348px; width:696px; height:588px; }
.hybrid #sec-1 .fig-txt h2 {position:absolute; top:0; left: -23px;}
.hybrid #sec-1 .fig-txt strong {display:block; position:absolute; top:388px; left: 50%; margin-left:-118px;}
.hybrid #sec-1 .fig-txt p {position:absolute; top:435px; left: 50%; margin-left:-208.5px}
.hybrid #sec-1 .fig-txt a {display:block; position:absolute; top:473px; left: 50%; margin-left: -136px;}
/* .hybrid #sec-1 .fig-txt img {width:100%;} */

.hybrid #sec-2-1 {height:360px; overflow:hidden;}
.hybrid #sec-2-1 .fig-txt {left:50%; top:105px; margin:0 0 0 -216px; width:444px; }
.hybrid #sec-2-1 h3 {margin:0 auto; width:360px;}
.hybrid #sec-2-1 p {position:absolute; top:80px;}
.hybrid #sec-2-1 .obj-movable {position:absolute; top:-300px; left:55.325%;}

.hybrid #sec-2-2 {height:694px; overflow:hidden; background:#0f0f0f;}
/* .hybrid #sec-2-2 figure {top:-198px} */
.hybrid #sec-2-2 .fig-content {position:relative; left:50%; top:-198px; margin-left:-720px; }
.hybrid #sec-2-2 .fig-txt {position:absolute; left:50%; top:186px; margin:0 0 0 -366.5px; width:733px; }
.hybrid #sec-2-2 .fig-txt h3 {position:relative; z-index:10;}
.hybrid #sec-2-2 .fig-txt strong {display:block; position:absolute; left: 50%; top:190px; margin-left:-151px;  width:303px; z-index:10;}
.hybrid #sec-2-2 .fig-txt p {display:block; position:absolute; left: 50%; top:103px; margin-left:-327px;  width:654px;}

.hybrid #sec-3 {height:1365px; background:#000; overflow:hidden;}
.hybrid #sec-3 .obj-movable {position:absolute; top:-500px; left:29.507042%;}
.hybrid #sec-3 .fig-txt {left:50%; top:142px; margin:0 0 0 -374.5px; width:749px; z-index:10;}
.hybrid #sec-3 .fig-txt h3 {position:absolute; top:0;}
.hybrid #sec-3 .fig-txt .def-wrap > div {position:absolute; width:100%; border-top:1px solid #3e3e3e;}
.hybrid #sec-3 .fig-txt .fr {width:504px;}
.hybrid #sec-3 .fig-txt .fl img {position:relative; top:28px;}
.hybrid #sec-3 .fig-txt .fr strong {display:block; position:relative; top:28px;}
.hybrid #sec-3 .fig-txt .fr p {position:absolute; top:75px;}
.hybrid #sec-3 .fig-txt .box-1 {top:175px;}
.hybrid #sec-3 .fig-txt .box-2 {top:409px;}
.hybrid #sec-3 .fig-txt .box-3 {top:614px;}
.hybrid #sec-3 .fig-txt .box-4 {top:845px;}

.hybrid #sec-4-1 {height:450px; overflow: hidden;}
.hybrid #sec-4-1 figure {background:url('/asset/images/hybrid/bg_gra_2_s4_1.png') 0 0 repeat-x;}
.hybrid #sec-4-1 .fig-content{position:relative; left:50%; margin-left:-710px; width:100%; background:url('/asset/images/hybrid/bg_gra_s4_1.png') 0 0 repeat-x;}
.hybrid #sec-4-1 .fig-txt {left:50%; top:209px; margin-left:-335.5px;}

.hybrid #sec-4-2 {height:947px; overflow:hidden; background:#000;}
.hybrid #sec-4-2 .obj-movable {position:absolute; top:-500px; left:9.1549295%;}
.hybrid #sec-4-2 .fig-txt {left:50%; top:88px; margin:0 0 0 -375px; width:750px; z-index:10;}
.hybrid #sec-4-2 .fig-txt h3 {position:absolute; top:0; left:0;}
.hybrid #sec-4-2 .fig-txt p {position:absolute; top:0; left:245px;}
.hybrid #sec-4-2 .fig-txt .img-gr {display:block; position:absolute; top:248px; left:0;}

.hybrid #sec-5 {background:#fff;}
.hybrid #sec-5 h3 {padding:84px 0 104px; text-align: center}
.hybrid #sec-5 h3 img {}
.hybrid .pic-list-wrap {margin-left:13%; width:74%;}
.hybrid .pic-list-wrap li {float:left; width:27.33%; margin-bottom:50px; margin-left:4%; }
.hybrid .pic-list-wrap li a {display:block; width:100%; height: 100%; color:#000;}
.hybrid .pic-list-wrap dl dt{height:110px; padding-left:12px; font-size: 26px; line-height:1;}


@media only screen and (min-width:768px) and (max-width:959px){
	.hybrid .pic-list-wrap {margin-left:0; width:100%;}
	.hybrid .pic-list-wrap li {width:44%;}

	/*
	.hybrid #new-sec-1 figure {position:relative;margin-top:-352px;}
	.hybrid #new-sec-1 .fig-content-bg {margin-left: -710px;}
	.hybrid #new-sec-1 .obj-movable-logo {margin-left:-120px; }
	.hybrid #new-sec-1 .obj-movable-man  {margin-left:-189px; }
	.hybrid #new-sec-1 .fig-txt h2 {margin-left: -253px}
	.hybrid #new-sec-1 .fig-txt p {margin-left:-261px}
	*/
}

@media only screen and (min-width:960px) and (max-width:1023px){
	.hybrid .pic-list-wrap {margin-left:0; width:100%;}
	/*.hybrid #new-sec-1 figure {position:relative;}*/
}

@media only screen and (min-width:1024px) and (max-width:1279px){
	.hybrid .pic-list-wrap {margin-left:0; width:100%;}
	/*.hybrid #new-sec-1 figure {position:fixed;margin-top:-452px;}*/
}

@media only screen and (min-width:1280px) and (max-width:1499px){
	/*.hybrid #new-sec-1 figure {position:fixed;margin-top:-452px;}*/
}

@media only screen and (min-width:1500px) {
	.hybrid .pic-list-wrap li { width:21%;}
	/*.hybrid #new-sec-1 figure {position:fixed;margin-top:-452px;}*/
}


