#sv_center{
  margin-left: 180px;
  .svhead;
  >ul{
    position: relative;
    height: auto;
    padding:0 60px 60px;
    li{
      width:1240px;
      height:auto;
      padding:24px 10px 36px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      border-top:1px solid #000;
      strong{
        float: left;
        color:#bbb;
        font-size: 14px;
      }
      span{
        float: right;
        display: block;
        width: 10px;
        height:7px;
        background-image: url('../image/service/bg-servbody.png');
        background-position:-55px -76px;
      }
      ul{
        display: none;
        padding:30px 0 ;
        height:91px;
        li{
          border: 0;
          vertical-align: middle;
          display: inline-block;
          padding: 60px 0 0 20px;
          color:#666;
          width:auto;
          height:31px;
          font-size:12px;
          font-weight:lighter;
          i{
            vertical-align: middle;
            display: inline-block;
            width: 16px;
            height:18px;
            margin-right:10px;
            background-image: url('../image/service/bg-servbody.png');
            background-position:-132px -99px;
          }
        }
      }
    }
  }
  dl{
    position: absolute;
    top:146px;
    left:1554px;
    float: right;
    dt{
      font-size: 24px;
      color:#000;
      line-height: 24px;
      display: block;
      padding:300px 0 32px;
      font-weight: bold;
      .smoothfont;
        }
    dd{
      color: #bbb;
      font-size: 13px;
      .smoothfont;
      line-height: 12px;
      display: block;
      padding: 11px 0 9px;
      border-bottom: 1px solid #ddd;
    &:last-child{
      padding: 0;
      border: 0;
      position:relative;
      top:-490px;
      }
    }
  }
}
