#sv_edu{
  .etcheader;
  >div{
    padding-top: 56px;
    cite{
      display: inline-block;
      border-top:4px solid #000;
      color: #111;
      width: 100%;
      font-size: 26px;
      font-weight: bold;
      font-family: @main-font;
      letter-spacing:-1px;
      padding:35px 0 60px 59px;
    }
    >div{
      padding: 59px;
      border: 1px solid #ddd;
      ul{
        li{
          color: #333;
          font-size: 13px;
          line-height: 28.6px;
          strong{
            font-weight: bold;
          }
        }
      }
      >div{
        margin:45px 0 20px;
        height: 270px;
        background-color: #eee;
        div{
          background-color: #0B2956;
          float: left;
          width: 130px;
          height: 100%;
          padding:0 20px 0 30px;
          span{
            display: block;
            color: #fff;
            font-size:20px;
            font-weight: bold;
            line-height: 30px;
            font-family: @main-font;
            &:last-child{
              font-size: 50px;
              padding-top: 70px;
            }
            &:first-child{
              padding-top: 30px;
            }
          }
        }
        dl{
          width: 1190px;
          padding: 39px 52px 39px 52px;
          float: left;
          dt{
            width: 80px;
            display: inline-block;
            font-size: 13px;
            line-height: 32.5px;
          }
          dd{
            width: 1100px;
            display: inline-block;
            font-size: 13px;
            font-family: @main-font;
            font-weight: bold;
          }
        }
      }
    }
  }
  >span{
    padding:30px 60px;
    background-color:#222;
    font-size:16px;
    display: inline-block;
    line-height: 71px;
    font-weight: bold;
    color: #f7f7f7;
    width: 100%;
    .smoothfont;
  }
}
