#sv_inform{
  margin-left:180px;
  .svhead;
  .table{
    border-top:4px solid #000;
    height: auto;
    >div{
      width: 100%;
      height: 58px;
      div{
        float: right;
        width: 203px;
        display: inline-block;
      }
    }
    table{
      display: block;
      width: 100%;
      caption{
        font-size: 0;
        text-indent: -999px;
      }
      thead{
        display: block;
        height:58px;
        width: 100%;
        border-top:2px solid #000;
        border-bottom:2px solid #000;
        tr{
          th{
            display: inline-block;
            width: 200px;
            padding:20px 10px 20px 10px;
            font-size: 12px;
            color:#666;
            font-weight:bold;
            .smoothfont;
            &:nth-child(3),&:nth-child(4),&:nth-child(5){
              width:340px;
            }
          }
        }
      }
      tbody{
        tr{
          border-bottom: 1px solid #ddd;
          td{
            vertical-align: middle;
            text-align: center;
            display: inline-block;
            width: 200px;
            padding:15px 10px 15px 10px;
            font-size: 12px;
            color:#333;
            font-weight:bold;
            .smoothfont;
            letter-spacing:-1px;
            span{
              line-height: 14px;
              padding:8px 0;
            }
            &:nth-child(3),&:nth-child(4),&:nth-child(5){
              width:340px;
            }
          }
        }
      }
    }
    ul{
      padding: 30px 0 45px;
      height: 15px;
      width: 100%;
      text-align: center;
      li{
        display: inline-block;
        a{
          vertical-align: middle;
          color: #888;
          font-size: 11px;
          &:last-child{
            margin-left:25px;
            display: inline-block;
            width: 15px;
            height: 15px;
            background-image: url('../image/service/sv-button.png');
            background-position:-160px 0 ;
            background-color: #ccc;
          }
        }
      }
    }
    >span{
      font-size: 13px;
      line-height:14px;
      margin-left:10px;
      letter-spacing:-2px;
      &::before{
        content: "⊙"
      }
    }
  }
  >div{
    &:last-child{
      padding:30px;
      height: auto;
      margin-bottom: 60px;
      background-color:#eee;
      strong{
        font-size: 20px;
        font-weight: bold;
      }
      i{
        margin-left: 10px;
        color: #254182;
        font-weight: bold;
        font-size: 20px;
      }
      span{
        margin:13px 0 25px;
        font-size: 13px;
        letter-spacing:-1px;
        color: #333;
      }
      a{
        display: inline-block;
        line-height:60px;
        width: 208px;
        padding:0 20px;
        color: #fff;
        background-color:#0b2956;
        font-weight: bold;
        font-size: 13px;
        img{
          vertical-align: middle;
          margin-left:70px;
        }
      }
    }
  }
}
