/* The Begining */
.begining { position:relative; height:100%; }
.story_begining { position:relative; background-image: url("../images/LEXUSSTORY/THEBEGINING/bg_s0.jpg"); background-size:cover; background-repeat:no-repeat;}
.story_begining .begin_content>h2>img { position:absolute; left:50%; top:40%; margin-left:-300px;  width:720px; height:311px; }
.story_begining .begin_content>img { text-align:right; }



/*.begining_txt { position:absolute; left:30%; top:420px; width:720px; height:311px; }
.begining_txt h2 img { vertical-align:top;}
.begining_txt p { position: absolute; right: 21px; bottom: 0; text-align:right; }

.begining_detail, .Birth_lexus, .Launching_lexus { background-color: #1e1e1e; }

.begining_detail { position:absolute; top:1130px; width:100%; height:620px; }
.detail_container { position:absolute; left:50%; top:0; margin-left:-360px; width:720px; margin-top:100px; height:450px;  }
.detail_container p { position:absolute; z-index:1; }
.detail_container>img { position:absolute; bottom:0; right:14px; }

.Birth_lexus { height:1690px; padding:80px 0;  }
.Birth_container { position:absolute; left:50%; top:1800px; margin-left:-360px; }
.Birth_content_1 { height:570px; }
.Birth_content_1 h3 { margin-left:-100px; }
.Birth_content_1 p { position:absolute; top:150px; right:-10px; }
.Birth_content_2 { height:508px; }
.Birth_content_2 p { position:absolute; top:615px; }
.Birth_content_2>img { position:absolute; top:550px; right:-20px; }
.Birth_content_3 { height:611px; }
.Birth_content_3 p img { position:absolute; right:10px;}

.Launching_lexus { height:2600px; }
.Launching_content_1 { position:absolute; top:3560px; width:1722px; height:480px; }
.Launching_content_1 h3 { margin-left:430px; position:absolute; z-index:1; }
.Launching_content_1 p { position: absolute; top: 120px; background-color: #000; width:100%; height:360px; }
.Launching_content_1 p img { position: absolute; left:50%; margin-left:-580px; }*/
